{% extends 'base.html' %}

{% block title %}Wallet{% endblock %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/datatables-buttons/css/buttons.bootstrap4.min.css') }}">
{% endblock %}

{% block plugins_scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/datatables-buttons/js/dataTables.buttons.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.bootstrap4.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.colVis.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/moment/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/chart.js/Chart.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/chart.js-plugin-labels/chartjs-plugin-labels.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/chart.js-plugin-colorschemes/chartjs-plugin-colorschemes.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='strategyTable.js') }}"></script>
{% endblock %}

{% block user_scripts %}
<script>
  function colorGain() {
    if ($(this).text().startsWith('-')) {
      $(this).addClass('color-gain-negative')
    } else {
      $(this).addClass('color-gain-positive')
    }
  }
  $('.color-gain').each(colorGain);
</script>
<script>
  $(function () {
    $('#openAssets').DataTable({
      "paging": false,
      "lengthChange": false,
      "searching": true,
      "ordering": true,
      "order": [[8, "desc"]],
      "info": false,
      "autoWidth": false,
      "responsive": true,
      "buttons": [ "colvis" ],
      "columnDefs": [
        { "type": "string", "targets": [0, 1, 2, 3] },
        { "type": "num-fmt", "targets": [4, 5, 6, 7, 8, 9] },
        { "orderable": false, "targets": [] },
        { "visible": false, "targets": [3, 4] },
      ],
    }).buttons().container().appendTo("#openAssets_wrapper .col-md-6:eq(0)");
  });
</script>
<script>
  const categoryAllocation = JSON.parse({{ allocation | tojson }});
  const categories = Object.keys(categoryAllocation);
  const subcategories = categories.map(function(c) { return Object.keys(categoryAllocation[c]).map(s => c + (s != 'null' ? (' ' + s) : '')); }).flat();

  var categoryChart = new Chart(document.getElementById('allocationChart').getContext('2d'), {
    type: 'doughnut',
    data: {
      labels: categories.concat(subcategories),
      datasets: [{
        data: categories.map(function(c){ return Object.values(categoryAllocation[c]).reduce((a,b) => a+b); }),
        borderWidth: 1
      }, {
        data: categories.map(function(c) { return Object.values(categoryAllocation[c]); }).flat(),
        borderWidth: 1
      }]
    },
    options: {
      maintainAspectRatio: false,
      responsive: true,
      cutoutPercentage: 30,
      plugins: {
        colorschemes: {
          scheme: 'tableau.Classic10'
        },
        labels: {
          render: 'percentage',
          fontColor: 'black',
          fontSize: 16,
          precision: 1
        }
      },
      tooltips: {
        callbacks: {
          label: function(tooltipItem, data) {
            var dataset = data.datasets[tooltipItem.datasetIndex];
            var total = dataset.data.reduce(function(previousValue, currentValue, currentIndex, array) {
                      return previousValue + currentValue;
                    });
            var currentValue = dataset.data[tooltipItem.index];
            var percentage = Number((currentValue/total*100).toFixed(1));
            var labelIdx = tooltipItem.datasetIndex == 0 ? tooltipItem.index : categories.length + tooltipItem.index;
            return data.labels[labelIdx] + ': ' + Number(currentValue.toFixed(2)) + ' PLN [' + percentage + "%]";
          }
        }
      },
      legend: {
        labels: {
          generateLabels: function(chart) {
            // Get the default label list
            const original = Chart.defaults.doughnut.legend.labels.generateLabels;
            const labelsOriginal = original.call(this, chart);

            // Build an array of colors used in the datasets of the chart
            var datasetColors = chart.data.datasets.map(e => e.backgroundColor).flat();

            function findSubIndexes(category) {
              var counter = 0
              for (var c = 0; c < category; ++c) {
                counter += Object.keys(categoryAllocation[categories[c]]).length
              }
              return Array.from({length: Object.keys(categoryAllocation[categories[category]]).length})
                .map((_, i) => i + counter);
            };

            // Modify the color and hide state of each label
            labelsOriginal.forEach(label => {
                label.datasetIndex = label.index < categories.length ? 0 : 1;

                // The hidden state must match the dataset's hidden state
                label.hidden = !chart.isDatasetVisible(label.datasetIndex);

                // Change the color to match the dataset
                label.fillStyle = datasetColors[label.index];

                // Embed information about category mappings
                if (label.index < categories.length) {
                  label.subcategories = findSubIndexes(label.index);
                }
            });

            return labelsOriginal;
          }
        },
        onClick: function(mouseEvent, legendItem) {
          var ctx = this.chart;
          var categoryMeta = ctx.getDatasetMeta(0);
          var subcategoryMeta = ctx.getDatasetMeta(1);

          if (legendItem.index < categories.length) {
            var hidden = categoryMeta.data[legendItem.index].hidden
            // hide category
            categoryMeta.data[legendItem.index].hidden = !hidden
            // and all it's subcategories
            legendItem.subcategories.forEach(function(idx){
              subcategoryMeta.data[idx].hidden = !hidden;
            });
          }
          else {
            var subIndex = legendItem.index - categories.length
            var hidden = subcategoryMeta.data[subIndex].hidden
            // hide subcategory
            subcategoryMeta.data[subIndex].hidden = !hidden;

            // and whole dataset above
            if (!hidden) {
              categoryMeta.data.forEach(function(e){e.hidden = true;});
            } else {
              var hiddenSubs = subcategoryMeta.data.reduce((p, d) => p + (d.hidden ? 1 : 0), 0)
              if (hiddenSubs == 0)
                categoryMeta.data.forEach(function(e){e.hidden = false;});
            }
          }

          this.chart.update();
        }
      }
    }
  });
</script>
<script type="text/javascript">
  let strategyTable = null
  $(function () {
    strategyTable = $('#strategyTable').DataTable({
      "paging": false,
      "lengthChange": false,
      "searching": false,
      "ordering": false,
      "order": [[1, "desc"]],
      "info": false,
      "autoWidth": false,
      "responsive": false,
      "columnDefs": [
        { "type": "string", "targets": [0] },
        { "type": "num-fmt", "className": "text-right", "targets": [1, 2, 4] },
        { "type": "num-fmt", "className": "text-right color-gain", "targets": [3] }
      ]
    });
    strategyTable = new StrategyTable(strategyTable, {
      name: 0, share: 1,
      netValue: {
        column: 2,
        format: x => x.toFixed(0)
      },
      deviation: {
        column: 3,
        format: x => (x > 0 ? '+' + x.toFixed(1) : x.toFixed(1))
      },
      requiredChange: {
        column: 4,
        format: x => (x > 0 ? '+' + x.toFixed(0) : x.toFixed(0))
      }
    });

    $.getJSON("{{ url_for('wallet.strategy') }}?allocation=true&label={{ misc.label | default('', true) }}", updateStrategyAllocation);
  });

  function updateStrategyAllocation(data) {
    strategyData = data

    strategyTable.fillStrategy(data, function(assetType){
      return [assetType.name,
              String(assetType.percentage) + '%',
              null,
              null,
              null]
    })

    strategyTable.fillAllocation(data)
    strategyTable.updateDeviation(data)
    $('#strategyTable td.color-gain').each(colorGain)
  }
</script>
<script>
  var assetAllocationChart = new Chart(document.getElementById('assetAllocationChart').getContext('2d'), {
    type: 'line',
    data: {
      labels: [],
      datasets: []
    },
    options: {
      maintainAspectRatio: false,
      responsive: true,
      plugins: {
        colorschemes: {
          scheme: 'tableau.JewelBright9',
          fillAlpha: 1
        }
      },
      hover: {
        mode: 'nearest'
      },
      scales: {
        xAxes: [{
          type: 'time',
          time: {
            unit: 'day',
            displayFormats: {
              day: 'D MMM YY'
            }
          }
        }],
        yAxes: [{
          stacked: true,
          scaleLabel: {
            display: true,
            labelString: 'PLN'
          }
        }]
      }
    }
  });

  function updateHistoricalChart(data){
    assetAllocationChart.data.labels = data.t

    var category;
    for (category in data.categories) {
      assetAllocationChart.data.datasets.push({
        data: data.categories[category].y,
        cubicInterpolationMode: 'monotone',
        pointRadius: 1,
        borderWidth: 2,
        label: category
      });
    }
    assetAllocationChart.update();
  }

  const allAssetIds = [
	{%- for asset in assets -%}
    '{{ asset._id }}',
  {%- endfor -%}
	{%- for id in misc.recentlyClosedIds -%}
    '{{ id }}',
  {%- endfor -%}
  ];

  $.getJSON("{{ url_for('assets.historicalValue') }}?daysBack=60&id=" + allAssetIds.join('&id='), updateHistoricalChart);
  /* When changing the daysBack parameter, change also the history context in the Python code */
</script>
{% endblock %}

{% block content %}
{% set totalNetValue = (assets | sum(attribute='_netValue')) -%}
{% set totalStillInvestedNetValue = (assets | sum(attribute='_stillInvestedNetValue')) -%}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Open assets</h3>
          <div class="card-tools">
            {%- for label in misc.allLabels | sort %}
            {%- if label == misc.label %}
            <a href="{{ url_for('wallet.index') }}"><span class="badge badge-success mr-1">{{ label }}</span></a>
            {%- else %}
            <a href="{{ url_for('wallet.index', label=label) }}"><span class="badge badge-secondary mr-1">{{ label }}</span></a>
            {%- endif %}
            {%- endfor %}
            <a href="{{ url_for('wallet.index', aggregation='institution') }}">
              <button class="btn btn-tool" type="button" title="Group assets in different institutions"><i class="fas fa-calendar-plus"></i></button>
            </a>
          </div>
        </div>
        <div class="card-body">
          <table id="openAssets" class="table table-bordered table-striped table-hover">
            <thead>
              <tr role="row">
                <th>Name</th>
                <th>Institution</th>
                <th>Category</th>
                <th>Region</th>
                <th>Holding period <span class="smaller">[days]</span></th>
                <th>Quaterly change</th>
                <th>Investment <span class="smaller">[PLN]</span></th>
                <th>Value <span class="smaller">[PLN]</span></th>
                <th>Share</th>
                <th>Net P/L</th>
              </tr>
            </thead>
            <tbody>
              {% for asset in assets %}
              <tr>
                <td data-order="{{ asset.name }}">
                  <a href="{{ url_for('assets.index', id=asset._id) }}">
                    {{ asset.name }}{{ " [" + asset.ticker + "]" if asset.ticker else "" }}
                  </a>
                  {%- if misc and misc.showData -%}
                  <a href="#modalDebug_{{ asset._id }}" class="imagelink" data-toggle="modal" data-target="#modalDebug_{{ asset._id }}">
                    <i class="fas fa-fw fa-bug fa-pull-right"></i>
                  </a>
                  {%- endif -%}
                  <a href="{{ url_for('assets.receipt', id=asset._id) }}" class="imagelink" title="Register buy or sell">
                    <i class="fas fa-shopping-cart fa-fw fa-pull-right"></i>
                  </a>
                </td>
                <td>{{ asset.institution }}</td>
                <td data-order="{{ asset.category }}{{ (" " + asset.subcategory) if asset.subcategory else ""}}">
                  {{- asset.category -}}
                  {%- if asset.subcategory -%}
                  <br/>
                  <span class="smaller">{{ asset.subcategory }}</span>
                  {%- endif -%}
                </td>
                <td>{{ asset.region }}</td>
                <td class="text-right">{{ asset._holdingDays }}</td>
                <td class="text-right color-gain">
                {%- if asset._quarterValueChange -%}
                {{ (asset._quarterValueChange * 100) | round(2) }}%
                {%- endif -%}
                </td>
                <td class="text-right">{{ asset._stillInvestedNetValue | round(2) }}</td>
                <td class="text-right">{{ asset._netValue | round(2) }}</td>
                <td class="text-right">{{ (asset._netValue / totalNetValue * 100) | round(1) }}%</td>
                <td class="text-right color-gain">{{ ((asset._netValue - asset._stillInvestedNetValue) / asset._stillInvestedNetValue * 100) | round(2) }}%</td>
              </tr>
              {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th class="text-right">{{ totalStillInvestedNetValue | round(2) }}</th>
                <th class="text-right">{{ totalNetValue | round(2) }}</th>
                <th class="text-right">100%</th>
                <th class="text-right color-gain">{{ ((totalNetValue - totalStillInvestedNetValue) / totalStillInvestedNetValue * 100) | round(2) }}%</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-7">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Category allocation</h3>
        </div>
        <div class="card-body">
          <canvas id="allocationChart" style="min-height: 500px; height: 500px; max-height: 500px; max-width: 100%;"></canvas>
        </div>
      </div>
    </div>
    <div class="col-5">
      <div class="card card-info">
        <div class="card-header">
          <h3 class="card-title">Target allocation</h3>
        </div>
        <div class="card-body p-0">
          <table class="table" id="strategyTable">
            <thead>
              <tr>
                <th>Category</th>
                <th>Target</th>
                <th>Net value <span class="smaller">[PLN]</span></th>
                <th>Deviation</th>
                <th>Required change <span class="smaller">[PLN]</span></th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Asset allocation</h3>
        </div>
        <div class="card-body">
          <canvas id="assetAllocationChart" style="min-height: 500px; height: 500px; max-height: 500px; max-width: 100%;"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
{%- if misc.showData %}
{%- for asset in assets %}
<div class="modal fade" id="modalDebug_{{ asset._id }}">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">{{ asset._id }}</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
        <pre>{{ asset | toJson(indent=4) }}</pre>
			</div>
			<div class="modal-footer justify-content-between">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
{%- endfor %}
{%- endif %}
{% endblock %}
