{% extends 'base.html' %}

{% block title %}Wallet{% endblock %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/datatables-buttons/css/buttons.bootstrap4.min.css') }}">
{% endblock %}

{% block plugins_scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/datatables-buttons/js/dataTables.buttons.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.bootstrap4.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.colVis.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/moment/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/chart.js/Chart.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/chart.js-plugin-labels/chartjs-plugin-labels.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/chart.js-plugin-colorschemes/chartjs-plugin-colorschemes.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='strategyTable.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='categoryChart.js') }}"></script>
{% endblock %}

{% block user_scripts %}
<script>
  function colorGain() {
    if ($(this).text().startsWith('-')) {
      $(this).addClass('color-gain-negative')
    } else {
      $(this).addClass('color-gain-positive')
    }
  }
  $('.color-gain').each(colorGain);
</script>
<script>
  $(function () {
    $('#openAssets').DataTable({
      "paging": false,
      "lengthChange": false,
      "searching": true,
      "ordering": true,
      "order": [[8, "desc"]],
      "info": false,
      "autoWidth": false,
      "responsive": true,
      "buttons": [ "colvis" ],
      "columnDefs": [
        { "type": "string", "targets": [0, 1, 2, 3] },
        { "type": "num-fmt", "targets": [4, 5, 6, 7, 8, 9] },
        { "orderable": false, "targets": [] },
        { "visible": false, "targets": [3, 4] },
      ],
    }).buttons().container().appendTo("#openAssets_wrapper .col-md-6:eq(0)");
  });
</script>
<script>
  const categoryAllocation = JSON.parse({{ allocation | tojson }});
  let categoryChart = new CategoryChart(categoryAllocation).makeChart(document.getElementById('allocationChart'))
</script>
<script type="text/javascript">
  let strategyTable = null
  $(function () {
    strategyTable = $('#strategyTable').DataTable({
      "paging": false,
      "lengthChange": false,
      "searching": false,
      "ordering": false,
      "order": [[1, "desc"]],
      "info": false,
      "autoWidth": false,
      "responsive": false,
      "columnDefs": [
        { "type": "string", "targets": [0] },
        { "type": "num-fmt", "className": "text-right", "targets": [1, 2, 4] },
        { "type": "num-fmt", "className": "text-right color-gain", "targets": [3] }
      ]
    });
    strategyTable = new StrategyTable(strategyTable, {
      name: 0, share: 1,
      netValue: {
        column: 2,
        format: x => x.toFixed(0)
      },
      deviation: {
        column: 3,
        format: x => (x > 0 ? '+' + x.toFixed(1) : x.toFixed(1))
      },
      requiredChange: {
        column: 4,
        format: x => (x > 0 ? '+' + x.toFixed(0) : x.toFixed(0))
      }
    });

    $.getJSON("{{ url_for('wallet.strategy', allocation='true', label=session['label']) }}", updateStrategyAllocation);
  });

  function updateStrategyAllocation(data) {
    strategyData = data

    strategyTable.fillStrategy(data, function(assetType){
      return [assetType.name,
              String(assetType.percentage) + '%',
              null,
              null,
              null]
    })

    strategyTable.fillAllocation(data)
    strategyTable.updateDeviation(data)
    $('#strategyTable td.color-gain').each(colorGain)
  }
</script>
<script>
  let assetAllocationCharts = Object.create(null);
  for (let type of ['netpl', 'value', 'investment', 'share']) {
    assetAllocationCharts[type] = new Chart(document.getElementById('assetAllocation_chart_' + type).getContext('2d'), {
      type: 'line',
      data: { labels: [], datasets: [] },
      options: {
        maintainAspectRatio: false,
        responsive: true,
        plugins: {
          colorschemes: { scheme: (type == 'netpl' ? 'tableau.ColorBlind10' : 'tableau.MillerStone11'), fillAlpha: 1 }
        },
        hover: { mode: 'nearest' },
        scales: {
          xAxes: [{
            type: 'time',
            time: { unit: 'day', displayFormats: { day: 'D MMM YY' } }
          }],
          yAxes: [{
            stacked: true,
            scaleLabel: { display: true, labelString: (['netpl', 'share'].includes(type) ? '%' : 'PLN') }
          }]
        }
      }
    });
  }

  function updateAllocationChart(data){
    for (let [type, chart] of Object.entries(assetAllocationCharts)) {
      chart.data.labels = data.t
    }

    function category(asset) {
      if (asset.subcategory)
        return asset.category + ' ' + asset.subcategory;
      return asset.category;
    }

    let mapping = Object.create(null);
    let totals = {'value': new Array(data.t.length).fill(0), 'investment': new Array(data.t.length).fill(0)}
    for (let asset of data.assets) {
      const cat = category(asset);
      if (cat in mapping) {
        mapping[cat].value = mapping[cat].value.map((v, i) => v + asset.value[i]);
        mapping[cat].investment = mapping[cat].investment.map((v, i) => v + asset.investedValue[i]);
      } else {
        mapping[cat] = {'value': asset.value, 'investment': asset.investedValue};
      }

      totals.value = totals.value.map((v, i) => v + asset.value[i]);
      totals.investment = totals.investment.map((v, i) => v + asset.investedValue[i]);
    }

    for (let category in mapping) {
      assetAllocationCharts.value.data.datasets.push({
        data: mapping[category].value,
        label: category,
        cubicInterpolationMode: 'monotone', pointRadius: 0, borderWidth: 1
      });
      assetAllocationCharts.investment.data.datasets.push({
        data: mapping[category].investment,
        label: category,
        cubicInterpolationMode: 'monotone', pointRadius: 0, borderWidth: 1
      });
      assetAllocationCharts.share.data.datasets.push({
        data: mapping[category].value.map((v, i) => v/totals.value[i]*100),
        label: category,
        cubicInterpolationMode: 'monotone', pointRadius: 0, borderWidth: 1
      });
    }

    const netplAdjust = totals.value[0]/totals.investment[0];
    assetAllocationCharts.netpl.data.datasets.push({
      data: totals.value.map((v, i) => (v/totals.investment[i] - netplAdjust)*100),
      label: 'Net P/L',
      cubicInterpolationMode: 'monotone', pointRadius: 0, borderWidth: 1
    });

    for (let [type, chart] of Object.entries(assetAllocationCharts)) {
      chart.update();
    }
  }

  $.getJSON("{{ url_for('assets.historicalValue', daysBack=180, label=session['label'], investedValue=true) | safe }}", updateAllocationChart);
</script>
{% endblock %}

{% block content %}
{% set totalNetValue = (assets | sum(attribute='_netValue')) -%}
{% set totalStillInvestedNetValue = (assets | sum(attribute='_stillInvestedNetValue')) -%}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Open assets</h3>
          <div class="card-tools">
            <a href="{{ url_for('wallet.index', aggregation='institution') }}">
              <button class="btn btn-tool" type="button" title="Group assets in different institutions"><i class="fas fa-calendar-plus"></i></button>
            </a>
          </div>
        </div>
        <div class="card-body">
          <table id="openAssets" class="table table-bordered table-striped table-hover">
            <thead>
              <tr role="row">
                <th>Name</th>
                <th>Institution</th>
                <th>Category</th>
                <th>Region</th>
                <th>Holding period <span class="smaller">[days]</span></th>
                <th>Quaterly change</th>
                <th>Investment <span class="smaller">[PLN]</span></th>
                <th>Value <span class="smaller">[PLN]</span></th>
                <th>Share</th>
                <th>Net P/L</th>
              </tr>
            </thead>
            <tbody>
              {% for asset in assets %}
              <tr>
                <td data-order="{{ asset.name }}">
                  <a href="{{ url_for('assets.index', id=asset._id) }}">
                    {{ asset.name }}{{ " [" + asset.ticker + "]" if asset.ticker else "" }}
                  </a>
                  {%- if misc and misc.showData -%}
                  <a href="#modalDebug_{{ asset._id }}" class="imagelink" data-toggle="modal" data-target="#modalDebug_{{ asset._id }}">
                    <i class="fas fa-fw fa-bug fa-pull-right"></i>
                  </a>
                  {%- endif -%}
                  <a href="{{ url_for('assets.receipt', id=asset._id) }}" class="imagelink" title="Register buy or sell">
                    <i class="fas fa-shopping-cart fa-fw fa-pull-right"></i>
                  </a>
                </td>
                <td>{{ asset.institution }}</td>
                <td data-order="{{ asset.category }}{{ (" " + asset.subcategory) if asset.subcategory else ""}}">
                  {{- asset.category -}}
                  {%- if asset.subcategory -%}
                  <br/>
                  <span class="smaller">{{ asset.subcategory }}</span>
                  {%- endif -%}
                </td>
                <td>{{ asset.region }}</td>
                <td class="text-right">{{ asset._holdingDays }}</td>
                <td class="text-right color-gain">
                {%- if asset._quarterValueChange -%}
                {{ (asset._quarterValueChange * 100) | round(2) }}%
                {%- endif -%}
                </td>
                <td class="text-right">{{ asset._stillInvestedNetValue | round(2) }}</td>
                <td class="text-right">{{ asset._netValue | round(2) }}</td>
                <td class="text-right">{{ (asset._netValue / totalNetValue * 100) | round(1) }}%</td>
                <td class="text-right color-gain">
                  {%- if asset._stillInvestedNetValue > 0 -%}
                  {{ ((asset._netValue - asset._stillInvestedNetValue) / asset._stillInvestedNetValue * 100) | round(2) }}
                  {%- else -%}
                  0
                  {%- endif -%}
                %</td>
              </tr>
              {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th class="text-right">{{ totalStillInvestedNetValue | round(2) }}</th>
                <th class="text-right">{{ totalNetValue | round(2) }}</th>
                <th class="text-right">100%</th>
                <th class="text-right color-gain">
                  {%- if totalStillInvestedNetValue > 0 -%}
                  {{ ((totalNetValue - totalStillInvestedNetValue) / totalStillInvestedNetValue * 100) | round(2) }}
                  {%- else -%}
                  0
                  {%- endif -%}
                  %</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-7">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Category allocation</h3>
        </div>
        <div class="card-body">
          <canvas id="allocationChart" style="min-height: 500px; height: 500px; max-height: 500px; max-width: 100%;"></canvas>
        </div>
      </div>
    </div>
    <div class="col-5">
      <div class="card card-info">
        <div class="card-header">
          <h3 class="card-title">Target allocation</h3>
        </div>
        <div class="card-body p-0">
          <table class="table" id="strategyTable">
            <thead>
              <tr>
                <th>Category</th>
                <th>Target</th>
                <th>Net value <span class="smaller">[PLN]</span></th>
                <th>Deviation</th>
                <th>Required change <span class="smaller">[PLN]</span></th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card card-primary card-tabs">
        <div class="card-header d-flex p-0 pt-1">
          <h3 class="card-title p-2 pl-3">Asset allocation</h3>
          <ul class="nav nav-tabs ml-auto" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" href="#assetAllocation_tab_netpl" data-toggle="tab">Net P/L</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#assetAllocation_tab_value" data-toggle="tab">Value</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#assetAllocation_tab_investment" data-toggle="tab">Investment</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#assetAllocation_tab_share" data-toggle="tab">Share</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane active" id="assetAllocation_tab_netpl">
              <canvas id="assetAllocation_chart_netpl" style="min-height: 500px; height: 500px; max-height: 500px; max-width: 100%;"></canvas>
            </div>
            <div class="tab-pane" id="assetAllocation_tab_value">
              <canvas id="assetAllocation_chart_value" style="min-height: 500px; height: 500px; max-height: 500px; max-width: 100%;"></canvas>
            </div>
            <div class="tab-pane" id="assetAllocation_tab_investment">
              <canvas id="assetAllocation_chart_investment" style="min-height: 500px; height: 500px; max-height: 500px; max-width: 100%;"></canvas>
            </div>
            <div class="tab-pane" id="assetAllocation_tab_share">
              <canvas id="assetAllocation_chart_share" style="min-height: 500px; height: 500px; max-height: 500px; max-width: 100%;"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%- if session.debug %}
{%- for asset in assets %}
<div class="modal fade" id="modalDebug_{{ asset._id }}">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">{{ asset._id }}</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
        <pre>{{ asset | toJson(indent=4) }}</pre>
			</div>
			<div class="modal-footer justify-content-between">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
{%- endfor %}
{%- endif %}
{% endblock %}
