{% extends 'base.html' %}

{% block title %}Wallet{% endblock %}

{% block links %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.23/b-2.1.1/b-colvis-2.1.1/r-2.2.9/sl-1.3.4/datatables.min.css"/>
{% endblock %}

{% block plugins_scripts %}
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.23/b-2.1.1/b-colvis-2.1.1/r-2.2.9/sl-1.3.4/datatables.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/moment/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/chart.js/Chart.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/chart.js-plugin-labels/chartjs-plugin-labels.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/chart.js-plugin-colorschemes/chartjs-plugin-colorschemes.min.js') }}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.1.2/jquery.sparkline.min.js"></script>
{% endblock %}

{% block user_scripts %}
<script type="text/javascript" src="{{ url_for('.static', filename='wallet/categoryChart.js') }}"></script>
<script type="text/javascript" src="{{ url_for('.static', filename='wallet/strategyTable.js') }}"></script>
<script type="text/javascript" src="{{ url_for('.static', filename='wallet/wallet.js') }}"></script>
<script type="text/javascript" src="{{ url_for('.static', filename='wallet/wallet_strategy.js') }}"></script>
<script type="text/javascript" src="{{ url_for('.static', filename='wallet/wallet_historical.js') }}"></script>
<script type="text/javascript" src="{{ url_for('.static', filename='wallet/wallet_sparklines.js') }}"></script>

<script type="text/javascript">
  const categoryAllocation = JSON.parse({{ allocation | tojson }});

  $(function(){
    $.getJSON("{{ url_for('wallet.strategy', allocation='true', label=session['label']) | safe }}", updateStrategyAllocation);
    $.getJSON("{{ url_for('assets.historicalValue', daysBack=180, label=session['label'], investedValue=true) | safe }}", historicalValueDone);
  });
</script>
{% endblock %}

{% block styles %}
<style>
.dataTables_filter {
  display: none;
}
</style>
{% endblock %}

{% block content %}
{%- set totalNetValue = (assetData | map(attribute='netValue') | select('number') | sum()) %}
{%- set hasAllNetValues = (assetData | map(attribute='netValue') | select('none') | list | length) == 0 -%}
{%- set totalStillInvestedNetValue = namespace(value=0) %}
{%- for data in assetData %}
  {%- if data.profits.breakdown %}
    {%- set totalStillInvestedNetValue.value = totalStillInvestedNetValue.value + data.profits.breakdown[-1].netInvestment %}
  {%- endif %}
{%- endfor %}
{%- set totalStillInvestedNetValue = totalStillInvestedNetValue.value %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Open assets</h3>
          <div class="card-tools">
            <span id="tableElements" class="px-2"></span>
            <input id="wallet-filter" class="form-control form-control-sm datatables-filter-custom" type="text" placeholder="Search" data-lpignore="true"/>
            <a href="{{ url_for_self(aggregation='pn') }}">
              <button class="btn btn-tool" type="button" title="Group assets in different institutions"><i class="fas fa-calendar-plus"></i></button>
            </a>
          </div>
        </div>
        <div class="card-body">
          <table id="openAssets" class="table table-bordered table-striped table-hover">
            <thead>
              <tr role="row">
                <th>Name</th>
                <th>Institution</th>
                <th>Category</th>
                <th>Region</th>
                <th>Holding period <span class="smaller">[days]</span></th>
                <th>Quaterly change</th>
                <th>Investment <span class="smaller">[PLN]</span></th>
                <th>Value <span class="smaller">[PLN]</span></th>
                <th>Share</th>
                <th>Net P/L</th>
              </tr>
            </thead>
            <tbody>
              {%- for data in assetData %}
              {%- set asset = data.asset %}
              <tr>
                <td data-title="Name" data-order="{{ asset.name }}">
                  {%- if asset.id is not list %}
                    <a href="{{ url_for('assets.index', id=asset.id) }}">
                  {%- endif %}
                  {{ asset.name }}{{ " [" + asset.ticker + "]" if asset.ticker else "" }}
                  {%- if asset.id is not list %}
                    </a>
                    {%- if session.debug -%}
                    <a href="#modalDebug_{{ asset.id }}" class="imagelink" data-toggle="modal" data-target="#modalDebug_{{ asset.id }}">
                      <i class="fas fa-fw fa-bug fa-pull-right"></i>
                    </a>
                    {%- endif -%}
                    <a href="{{ url_for('assets.receipt', id=asset.id) }}" class="imagelink" title="Record operation">
                      <i class="fas fa-shopping-cart fa-fw fa-pull-right"></i>
                    </a>
                  {%- endif %}
                </td>
                <td data-title="Institution">
                  {%- if asset.institution is not list %}
                    {{ asset.institution }}
                  {%- else %}
                  {%- for institution in asset.institution %}
                    {{ institution }}<br/>
                  {%- endfor %}
                  {%- endif %}
                </td>
                <td data-title="Category" data-order="{{ asset.category }}{{ (" " + asset.subcategory) if asset.subcategory else ""}}">
                  {%- if asset.subcategory -%}
                  {{- asset.subcategory -}}&#32;
                  {%- endif -%}
                  {{- asset.category -}}
                </td>
                <td data-title="Region">{{ asset.region }}</td>
                <td data-title="Holding period" class="text-right">{{ asset._holdingDays }}</td>
                <td data-title="Quaterly change" data-order="{{ data.quarterValueChange if data.quarterValueChange else 0 }}">
                  <span id="sparkline-{{ asset.id }}">
                  </span>
                  <span class="text-right color-gain float-right">
                  {%- if data.quarterValueChange -%}
                  {{ (data.quarterValueChange * 100) | round(2) }}%
                  {%- endif -%}
                  </span>
                </td>
                {%- set netInvestment = data.profits.breakdown[-1].netInvestment %}
                <td data-title="Investment" class="text-right">{{ netInvestment | asCurrency(config.MAIN_CURRENCY, False) }}</td>
                {%- if data.netValue %}
                  <td data-title="Value" class="text-right">{{ data.netValue | asCurrency(config.MAIN_CURRENCY, False) }}</td>
                  <td data-title="Share" class="text-right">{{ (data.netValue / totalNetValue * 100) | roundFixed(1) }}%</td>
                  <td data-title="Net P/L" class="text-right color-gain">
                    {%- if netInvestment > 0 -%}
                    {{ ((data.netValue - netInvestment) / netInvestment * 100) | asCurrency(config.MAIN_CURRENCY, False) }}
                    {%- else -%}
                    {{ 0 | asCurrency(config.MAIN_CURRENCY, False) }}
                    {%- endif -%}
                  %</td>
                {%- else %}
                  <td data-title="Value" class="text-right">
                    <i class="fas fa-exclamation-triangle fa-fw" style="{{ config.STYLING.WARNING_EXCLAMATION_TRIANGLE }}" title="Could not determine current value"></i>
                  </td>
                  <td data-title="Share" class="text-right">
                    <i class="fas fa-exclamation-triangle fa-fw" style="{{ config.STYLING.WARNING_EXCLAMATION_TRIANGLE }}" title="Could not determine current value"></i>
                  </td>
                  <td data-title="Net P/L" class="text-right color-gain">
                    {{ 0 | asCurrency(config.MAIN_CURRENCY, False) }}%
                  </td>
                {%- endif %}
              </tr>
              {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th class="text-right">{{ totalStillInvestedNetValue | asCurrency(config.MAIN_CURRENCY, False) }}</th>
                {%- if hasAllNetValues %}
                  <th class="text-right">{{ totalNetValue | asCurrency(config.MAIN_CURRENCY, False) }}</th>
                {%- else %}
                  <th></th>
                {%- endif %}
                <th class="text-right">100%</th>
                {%- if hasAllNetValues %}
                  <th class="text-right color-gain">
                    {%- if totalStillInvestedNetValue > 0 -%}
                    {{ ((totalNetValue - totalStillInvestedNetValue) / totalStillInvestedNetValue * 100) | asCurrency(config.MAIN_CURRENCY, False) }}
                    {%- else -%}
                    {{ 0 | asCurrency(config.MAIN_CURRENCY, False) }}
                    {%- endif -%}
                  %</th>
                {%- else %}
                  <th></th>
                {%- endif %}
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-7">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Category allocation</h3>
        </div>
        <div class="card-body">
          <canvas id="allocationChart" style="{{ config.STYLING.WALLET_ALLOCATION_CHART }}"></canvas>
        </div>
      </div>
    </div>
    <div class="col-5">
      <div class="card card-info">
        <div class="card-header">
          <h3 class="card-title">Target allocation</h3>
        </div>
        <div class="card-body p-0">
          <table class="table" id="strategyTable">
            <thead>
              <tr>
                <th>Category</th>
                <th>Target</th>
                <th>Net value <span class="smaller">[PLN]</span></th>
                <th>Deviation</th>
                <th>Required change <span class="smaller">[PLN]</span></th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card card-primary card-tabs">
        <div class="card-header d-flex p-0 pt-1">
          <h3 class="card-title p-2 pl-3">Asset allocation</h3>
          <ul class="nav nav-tabs ml-auto" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" href="#assetAllocation_tab_netpl" data-toggle="tab">Net P/L</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#assetAllocation_tab_plpercent" data-toggle="tab">% P/L</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#assetAllocation_tab_summary" data-toggle="tab">Summary</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#assetAllocation_tab_value" data-toggle="tab">Value</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#assetAllocation_tab_investment" data-toggle="tab">Investment</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#assetAllocation_tab_share" data-toggle="tab">Share</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane active" id="assetAllocation_tab_netpl">
              <canvas id="assetAllocation_chart_netpl" style="{{ config.STYLING.WALLET_ALLOCATION_CHART }}"></canvas>
            </div>
            <div class="tab-pane" id="assetAllocation_tab_plpercent">
              <canvas id="assetAllocation_chart_plpercent" style="{{ config.STYLING.WALLET_ALLOCATION_CHART }}"></canvas>
            </div>
            <div class="tab-pane" id="assetAllocation_tab_summary">
              <canvas id="assetAllocation_chart_summary" style="{{ config.STYLING.WALLET_ALLOCATION_CHART }}"></canvas>
            </div>
            <div class="tab-pane" id="assetAllocation_tab_value">
              <canvas id="assetAllocation_chart_value" style="{{ config.STYLING.WALLET_ALLOCATION_CHART }}"></canvas>
            </div>
            <div class="tab-pane" id="assetAllocation_tab_investment">
              <canvas id="assetAllocation_chart_investment" style="{{ config.STYLING.WALLET_ALLOCATION_CHART }}"></canvas>
            </div>
            <div class="tab-pane" id="assetAllocation_tab_share">
              <canvas id="assetAllocation_chart_share" style="{{ config.STYLING.WALLET_ALLOCATION_CHART }}"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%- if session.debug %}
{%- for data in assetData %}
<div class="modal fade" id="modalDebug_{{ data.asset.id }}">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">{{ data.asset.id }}</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
        <pre>{{ data.debug | simplify | toJson(indent=4) }}</pre>
			</div>
			<div class="modal-footer justify-content-between">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
{%- endfor %}
{%- endif %}
{% endblock %}
