{% extends 'base.html' %}

{% block title %}Add asset{% endblock %}

{% block plugins_scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='plugins/jquery-validation/jquery.validate.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/typeahead/typeahead.bundle.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js') }}"></script>
{% endblock %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/bootstrap-tagsinput/bootstrap-tagsinput.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/typeahead/typeahead.css') }}">
{% endblock %}

{% block styles %}
<style>
.bootstrap-tagsinput {
  width: 100%;
  height: calc(2.25rem + 2px);
}
</style>
{% endblock %}

{% block user_scripts %}
<script type="text/javascript">
$(document).ready(function(){
  function linkChange() {
    function setDefault(selector, value) {
      var element = $(selector)
      if ((element.val() === null || element.val() === "") && value !== null)
        element.val(value).change()
    }

    if ($(this).valid()) {
      $.getJSON("{{ url_for('quote') }}?url=" + encodeURIComponent($(this).val()), function(quote){
        console.log(quote)
        setDefault('#f-name', quote['name'])
        setDefault('#f-type', quote['type'])
        setDefault('#f-currency', quote['currency'])
        setDefault('#f-ticker', quote['ticker'])
        setDefault('#f-quote', quote['quote'])
      })
    }
  }

  $("#f-link").change(linkChange);
  $("#f-link-get").click(linkChange);

  $("#f-currency").change(function() {
    $('#f-quote-currency-prepend').text($(this).val());
  });

  $("#f-currency").change(function() {
    var currency = $(this).val()
    $("#f-price-source > option").each(function() {
      $(this).prop('disabled', $(this).attr('data-price-source-unit') != currency)
    })
  })
});
</script>
<script type="text/javascript">
$.validator.setDefaults({
  submitHandler: function() {
    $.post("{{ url_for('assets.index') }}", $('.tab-pane.active > form').serialize(), function(data) {
      $(location).attr("href", "{{ url_for('assets.index', label=header.label, id='_id') | safe }}".replace('_id', data.id));
    })
  }
});
$("form").validate({
  errorElement: 'span',
  errorPlacement: function (error, element) {
          error.addClass('invalid-feedback');
          element.closest('.form-group').append(error);
        },
  highlight: function (element, errorClass, validClass) {
          $(element).addClass('is-invalid');
        },
  unhighlight: function (element, errorClass, validClass) {
          $(element).removeClass('is-invalid');
        }
});
</script>
<script type="text/javascript">
['#f-labels', '#c-labels'].forEach(function(selector){
  $(selector).tagsinput({
    tagClass: 'badge badge-success',
    typeaheadjs: {
      source: function(query, sync){ sync({{ header.allLabels | safe }}); }
    }
  });
});
</script>
{% endblock %}

{% block content %}
<div class="container-sm">
  <div class="row">
    <div class="col-12">
      <div class="card card-primary card-tabs">
        <div class="card-header d-flex p-0 pt-1">
          <h3 class="card-title p-2 pl-3">Add new asset</h3>
          <ul class="nav nav-tabs ml-auto" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" href="#tab-listed" data-toggle="tab">Listed</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#tab-cash" data-toggle="tab">Cash</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane active" id="tab-listed">
              <form method="post" action="">
                <div class="form-group">
                  <label for="f-link">Link to <a href="https://stooq.pl" target="_blank" rel="noopener noreferrer">stooq.pl</a>, <a href="https://www.biznesradar.pl/" target="_blank" rel="noopener noreferrer">biznesradar.pl</a>, <a href="https://pl.investing.com/" target="_blank" rel="noopener noreferrer">pl.investing.com</a> or <a href="https://www.marketwatch.com" target="_blank" rel="noopener noreferrer">marketwatch.com</a></label>
                  <div class="input-group">
                    <input type="url" id="f-link" name="link" class="form-control" data-lpignore="true"/>
                    <span class="input-group-append">
                      <button type="button" class="btn btn-info" id="f-link-get">Get!</button>
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-9">
                    <div class="form-group">
                      <label for="f-name">Name</label>
                      <input type="text" id="f-name" name="name" class="form-control" data-lpignore="true" required/>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="form-group">
                      <label for="f-ticker">Ticker</label>
                      <input type="text" id="f-ticker" name="ticker" class="form-control" data-lpignore="true"/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-3">
                    <div class="form-group">
                      <label for="f-currency">Currency</label>
                      <select id="f-currency" name="currency" class="custom-select" required>
                        <option value="" hidden disabled selected value></option>
                        <option value="PLN">PLN</option>
                        <option value="EUR">EUR</option>
                        <option value="USD">USD</option>
                        <option value="GBP">GBP</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="form-group">
                      <label for="f-quote">Quote</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="f-quote-currency-prepend">PLN</span>
                        </div>
                        <input type="text" id="f-quote" name="quote" class="form-control" disabled="disabled" data-lpignore="true"/>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label for="f-price-source">Price source</label>
                      <select id="f-price-source" name="priceQuoteId" class="custom-select" required>
                        <option value="" hidden disabled selected value></option>
                        {%- for priceSource in quotesList %}
                        <option value="{{ priceSource._id }}" {{ 'disabled' if priceSource.unit != 'PLN' }}  data-price-source-unit="{{ priceSource.unit }}">{{ priceSource.name }}</option>
                        {%- endfor %}
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-5">
                    <div class="form-group">
                      <label for="f-institution">Institution</label>
                      <input type="text" id="f-institution" name="institution" class="form-control" data-lpignore="true" required/>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="form-group">
                      <label for="f-type">Type</label>
                      <select id="f-type" name="type" class="custom-select" required>
                        <option value="" hidden disabled selected value></option>
                        <option value="ETF">ETF</option>
                        <option value="Equity">Equity</option>
                        <option value="Investment Fund">Investment Fund</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-group">
                      <label for="f-labels">Tags</label>
                      <input type="text" id="f-labels" name="labels" class="form-control" data-lpignore="true" required/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6 col-sm-4">
                    <div class="form-group">
                      <label for="f-category">Category</label>
                      <select id="f-category" name="category" class="custom-select" required>
                        <option value="" hidden disabled selected value></option>
                        <option value="Equities">Equities</option>
                        <option value="Bonds">Bonds</option>
                        <option value="Gold">Gold</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-6 col-sm-4">
                    <div class="form-group">
                      <label for="f-subcategory">Subcategory</label>
                      <input type="text" id="f-subcategory" name="subcategory" class="form-control" data-lpignore="true" />
                    </div>
                  </div>
                  <div class="col-12 col-sm-4">
                    <div class="form-group">
                      <label for="f-region">Region</label>
                      <input type="text" id="f-region" name="region" class="form-control" data-lpignore="true" required/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <button class="btn btn-primary" type="submit">Submit</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="tab-pane" id="tab-cash">
              <form method="post" action="">
                <input type="hidden" name="type" value="Deposit"/>
                <input type="hidden" name="category" value="Cash"/>
                <div class="row">
                  <div class="col-9">
                    <div class="form-group">
                      <label for="c-name">Name</label>
                      <input type="text" id="c-name" name="name" class="form-control" data-lpignore="true" required/>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="form-group">
                      <label for="c-currency">Currency</label>
                      <select id="c-currency" name="currency" class="custom-select" required>
                        <option value="" hidden disabled selected value></option>
                        <option value="PLN">PLN</option>
                        <option value="EUR">EUR</option>
                        <option value="USD">USD</option>
                        <option value="GBP">GBP</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-5">
                    <div class="form-group">
                      <label for="c-institution">Institution</label>
                      <input type="text" id="c-institution" name="institution" class="form-control" data-lpignore="true" required/>
                    </div>
                  </div>
                  <div class="col-7">
                    <div class="form-group">
                      <label for="c-labels">Tags</label>
                      <input type="text" id="c-labels" name="labels" class="form-control" data-lpignore="true" required/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <button class="btn btn-primary" type="submit">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
