{% extends 'base.html' %}

{% block title %}Add asset{% endblock %}

{% block plugins_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js" integrity="sha512-qOBWNAMfkz+vXXgbh0Wz7qYSLZp6c14R0bZeVX2TdQxWpuKr6yHjBIM69fcF8Ve4GUX6B6AKRQJqiiAmwvmUmQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js" integrity="sha512-9UR1ynHntZdqHnwXKTaOm1s6V9fExqejKvg5XMawEMToW4sSw+3jtLrYfZPijvnwnnE8Uol1O9BcAskoxgec+g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block links %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css" integrity="sha512-xmGTNt20S0t62wHLmQec2DauG9T+owP9e6VU8GigI0anN7OXLip9i7IwEhelasml2osdxX71XcYm6BQunTQeQg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/typeahead/typeahead.css') }}">
{% endblock %}

{% block styles %}
<style>
.bootstrap-tagsinput {
  width: 100%;
  height: calc(2.25rem + 2px);
}
</style>
{% endblock %}

{% block user_scripts %}
<script type="text/javascript" src="{{ url_for('.static', filename='assets/add.js') }}"></script>

<script type="text/javascript">
initialize({
  headerLabels: {{ header.allLabels | safe }},
  getPricingItem: function(pricingId){
      return "{{ url_for('pricing.index', quoteId='_id') | safe }}".replace('_id', pricingId);
  },
  getQuoteData: function(url){
      return "{{ url_for('quotes.index', url='_url') | safe }}".replace('_url', url);
  },
  submitUrl: "{{ url_for('assets.index_post') }}",
  getNextUrl: function(data){
    return "{{ url_for('assets.index', label=header.label, id='_id') | safe }}".replace('_id', data.id);
  },
});
</script>
{% endblock %}

{% block content %}
<div class="container-sm">
  <div class="row">
    <div class="col-12">
      <div class="card card-primary card-tabs">
        <div class="card-header d-flex p-0 pt-1">
          <h3 class="card-title p-2 pl-3">Add new asset</h3>
          <ul class="nav nav-tabs ml-auto" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" href="#tab-listed" data-toggle="tab">Listed</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#tab-cash" data-toggle="tab">Cash</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane active" id="tab-listed">
              <!-- The onkeypress is to supress Enter from submitting the form because it's used to accept the tagsinput -->
              <form id="form-general" method="post" action="" onkeypress="return event.keyCode != 13;">
                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <label for="f-price-source">Price source</label>
                      <select id="f-price-source" name="priceQuoteId" class="custom-select" required>
                        <option value="" hidden disabled selected></option>
                        {%- for priceSource in data.quotesList %}
                        {%- if priceSource.unit in config.SUPPORTED_CURRENCIES %}
                        <option value="{{ priceSource._id }}" data-price-source-unit="{{ priceSource.unit }}">{{ priceSource.name }} [{{ priceSource.unit }}]</option>
                        {%- endif %}
                        {%- endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="col-2">
                    <div class="form-group">
                      <label for="f-currency">Currency</label>
                      <input type="text" value="{{ config.MAIN_CURRENCY }}" id="f-currency" class="form-control" disabled="disabled" data-lpignore="true"/>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-group">
                      <label for="f-quote">Quote</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="f-quote-currency-prepend">{{ config.MAIN_CURRENCY }}</span>
                        </div>
                        <input type="text" id="f-quote" class="form-control" disabled="disabled" data-lpignore="true"/>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-9">
                    <div class="form-group">
                      <label for="f-name">Name</label>
                      <input type="text" id="f-name" name="name" class="form-control" data-lpignore="true" required/>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="form-group">
                      <label for="f-ticker">Ticker</label>
                      <input type="text" id="f-ticker" name="ticker" class="form-control" data-lpignore="true"/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-5">
                    <div class="form-group">
                      <label for="f-institution">Institution</label>
                      <input type="text" id="f-institution" name="institution" class="form-control" data-lpignore="true" required/>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="form-group">
                      <label for="f-type">Type</label>
                      <select id="f-type" name="type" class="custom-select" required>
                        <option value="" hidden disabled selected value></option>
                        <option value="ETF">ETF</option>
                        <option value="Equity">Equity</option>
                        <option value="Investment Fund">Investment Fund</option>
                        <option value="Cryptocurrency">Cryptocurrency</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-group">
                      <label for="f-labels">Tags</label>
                      <input type="text" id="f-labels" name="labels" class="form-control" data-lpignore="true"/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6 col-sm-4">
                    <div class="form-group">
                      <label for="f-category">Category</label>
                      <select id="f-category" name="category" class="custom-select" required>
                        <option value="" hidden disabled selected value></option>
                        <option value="Equities">Equities</option>
                        <option value="Bonds">Bonds</option>
                        <option value="Gold">Gold</option>
                        <option value="Cryptocurrency">Cryptocurrency</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-6 col-sm-4">
                    <div class="form-group">
                      <label for="f-subcategory">Subcategory</label>
                      <input type="text" id="f-subcategory" name="subcategory" class="form-control" data-lpignore="true" />
                    </div>
                  </div>
                  <div class="col-12 col-sm-4">
                    <div class="form-group">
                      <label for="f-region">Region</label>
                      <input type="text" id="f-region" name="region" class="form-control" data-lpignore="true" required/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label for="f-link">Reference link</label>
                      <div class="input-group">
                        <input type="url" id="f-link" name="link" class="form-control" data-lpignore="true"/>
                        <span class="input-group-append">
                          <button type="button" class="btn btn-info" id="f-link-open">Open</button>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <button class="btn btn-primary" type="submit">Submit</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="tab-pane" id="tab-cash">
              <form id="form-cash" method="post" action="" onkeypress="return event.keyCode != 13;">
                <input type="hidden" name="type" value="Deposit"/>
                <input type="hidden" name="category" value="Cash"/>
                <div class="row">
                  <div class="col-9">
                    <div class="form-group">
                      <label for="c-name">Name</label>
                      <input type="text" id="c-name" name="name" class="form-control" data-lpignore="true" required/>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="form-group">
                      <label for="c-currency">Currency</label>
                      <select id="c-currency" name="currency" class="custom-select" required>
                        <option value="" hidden disabled selected value></option>
                        {%- for currency in config.SUPPORTED_CURRENCIES %}
                        <option value="{{ currency }}">{{ currency }}</option>
                        {%- endfor %}
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-5">
                    <div class="form-group">
                      <label for="c-institution">Institution</label>
                      <input type="text" id="c-institution" name="institution" class="form-control" data-lpignore="true" required/>
                    </div>
                  </div>
                  <div class="col-7">
                    <div class="form-group">
                      <label for="c-labels">Tags</label>
                      <input type="text" id="c-labels" name="labels" class="form-control" data-lpignore="true" required/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <button class="btn btn-primary" type="submit">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
