{% extends 'base.html' %}

{% block title %}{{ asset.name }}{% endblock %}

{% block links %}
{% endblock %}

{% block plugins_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/charts.js') }}"></script>
{% endblock %}

{% block user_scripts %}
<script type="text/javascript" src="{{ url_for('.static', filename='assets/item.js') }}"></script>
<script type="text/javascript">
  function onTrash() {
    $.post('{{ url_for('assets.trash', id=asset.id) }}', success=function(data){
      location.href='{{ url_for('assets.index', label=session['label']) }}'
    })
  }
</script>
{% if quoteHistory %}
<script type="text/javascript">
  const data = {{ quoteHistory.data | tojson }};
  const operations = {{ asset.operations | simplify | tojson }};

  setupChart('{{ asset.name | safe }}', '{{ asset.currency.name }}', data, operations);
</script>
{% endif %}
{% endblock %}

{% block content %}
<div class="container-sm">
  <div class="row">
    <div class="col-5">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Info</h3>
        </div>
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-3">Name</dt>
            <dd class="col-sm-9">{{ asset.name }}</dd>
            <dt class="col-sm-3">Type</dt>
            <dd class="col-sm-9">{{ asset.type | simplify }}</dd>
            <dt class="col-sm-3">Category</dt>
            <dd class="col-sm-9">{{ asset.category }}
            {%- if asset.subcategory -%}
            &nbsp;({{ asset.subcategory }})
            {%- endif -%}
            </dd>
            {% if asset.ticker -%}
            <dt class="col-sm-3">Ticker</dt>
            <dd class="col-sm-9">{{ asset.ticker }}</dd>
            {%- endif %}
            <dt class="col-sm-3">Institution</dt>
            <dd class="col-sm-9">{{ asset.institution }}</dd>
            <dt class="col-sm-3">Currency</dt>
            <dd class="col-sm-9">{{ asset.currency.name }}</dd>
            {%- if asset.pricing and asset.pricing.quoteId %}
            <dt class="col-sm-3">Pricing</dt>
            <dd class="col-sm-9"><a href="{{ url_for('pricing.index', quoteId=asset.pricing.quoteId) }}">{{ quoteHistory.name }}</a></dd>
            {%- endif %}
            {% if asset.link -%}
            <dt class="col-sm-3">Link</dt>
            <dd class="col-sm-9"><a href="{{ asset.link }}" target="_blank" rel="noopener noreferrer">{{ asset.link }}</a></dd>
            {% endif %}
            <dt class="col-sm-3">Labels</dt>
            <dd class="col-sm-9">
              {%- for label in asset.labels -%}
                <span class="badge badge-success mr-1">{{ label }}</span>
              {%- endfor -%}
            </dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Status</h3>
        </div>
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-8">Status</dt>
            <dd class="col-sm-4">
              {%- if asset.trashed -%}
              <span class="text-muted">Trashed</span>
              {%- elif asset.operations and asset.operations[-1].finalQuantity > 0 -%}
              <span class="text-success">Active</span>
              {%- else -%}
              <span class="text-muted">Inactive</span>
              {%- endif -%}
            </dd>
            <dt class="col-sm-8">Holding period</dt>
            <dd class="col-sm-4">
              {{ profitInfo.holdingDays if profitInfo.holdingDays else 0 }} days
            </dd>
            <dt class="col-sm-8">Volume</dt>
            <dd class="col-sm-4">{{ asset.operations[-1].finalQuantity if asset.operations else 0 }}</dd>
            {%- if asset.type != 'Deposit' %}
            <dt class="col-sm-8">Average open price</dt>
            <dd class="col-sm-4">
              {%- if asset.operations and asset.operations[-1].finalQuantity > 0 -%}
              {{ profitInfo.avgPrice | round(2) }} {{ asset.currency.name }}
              {%- endif -%}
            </dd>
            {%- elif asset.currency.name != config.MAIN_CURRENCY %}
            <dt class="col-sm-8">Average conversion rate</dt>
            <dd class="col-sm-4">
              {{ profitInfo.avgNetPrice | round(8) }}
            </dd>
            {%- endif %}
          </dl>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card card-secondary">
        <div class="card-header">
          <h3 class="card-title">Actions</h3>
        </div>
        <div class="card-body">
          {%- if not asset.trashed %}
          <button class="btn btn-outline-secondary btn-block" type="button" onclick="location.href='{{ url_for('assets.receipt', id=asset.id) }}'">
            <i class="fa fa-shopping-cart"></i> Record operation
          </button>
          {%- endif %}

          <button class="btn btn-outline-secondary btn-block" type="button" onclick="location.href=''">
            <i class="fas fa-edit"></i> Edit
          </button>

          {%- if asset.pricing and asset.pricing.quoteId %}
          <button class="btn btn-outline-secondary btn-block" type="button" onclick="location.href='{{ url_for('quotes.importQuotes', id=asset.pricing.quoteId) }}'">
            <i class="fa fa-upload"></i> Import quotes
          </button>
          {%- endif %}

          {% if not asset.trashed and not (asset.operations and asset.operations[-1].finalQuantity > 0) -%}
          <button class="btn btn-outline-secondary btn-block" type="button" onclick="onTrash()">
            <i class="fa fa-trash"></i> Move to trash
          </button>
          {%- endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% if quoteHistory -%}
<div class="container-sm">
  <div class="row">
    <div class="col-12">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Graph</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <div id="chart" style="min-height: 400px; height: 400px; max-height: 400px; max-width: 100%;"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{%- endif %}
<div class="container-sm">
  <div class="row">
    <div class="col-12">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Operations</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-bordered">
            {% set operationsHaveOrderIds = (asset.operations | selectattr('orderId') | list | count) -%}
            <thead>
              <tr>
                <th style="width: 10px">#</th>
                <th>Date</th>
                <th style="width: 30px">Type</th>
                <th>{{ 'Value' if asset.type == 'Deposit' else 'Volume' }}</th>
                {%- if asset.type != 'Deposit' %}
                <th>Price <span class="smaller">[{{ asset.currency.name }}]</span></th>
                <th>Unit price <span class="smaller">[{{ asset.currency.name }}]</span></th>
                {%- endif %}
                {% if asset.currency.name != config.MAIN_CURRENCY -%}
                <th>Conversion rate</th>
                {%- endif %}
                <th>Provision &amp; tax <span class="smaller">[{{ config.MAIN_CURRENCY }}]</span></th>
                <th>Final {{ 'value' if asset.type == 'Deposit' else 'volume' }}</th>
                {% if operationsHaveOrderIds -%}
                <th>Order ID</th>
                {%- endif %}
              </tr>
            </thead>
            <tbody>
              {% for operation in asset.operations | reverse -%}
              <tr>
                <td data-title="#">{{ asset.operations|length - loop.index + 1 }}</td>
                <td data-title="Date">{{ operation.date }}</td>
                <td data-title="Type">
                  <span class="badge badge-info badge-op-{{ operation.type.value }}">
                    {{ operation.type | operationDisplayString(asset.type) }}
                  </span>
                </td>
                <td data-title="{{ 'Value' if asset.type == 'Deposit' else 'Volume' }}">{{ operation.quantity if operation.quantity else '' }}</td>
                {%- if asset.type != 'Deposit' %}
                <td data-title="Price">{{ operation.price }}</td>
                <td data-title="Unit price">
                  {{ operation.unitPrice | asCurrency(asset.currency.name, False) }}
                </td>
                {%- endif %}
                {% if asset.currency.name != config.MAIN_CURRENCY -%}
                <td data-title="Conversion rate">{{ operation.currencyConversion | round(4) }}</td>
                {%- endif %}
                <td data-title="Provision">{{ operation.provision if operation.provision else 0 }}</td>
                <td data-title="Final {{ 'value' if asset.type == 'Deposit' else 'volume' }}">{{ operation.finalQuantity }}</td>
                {% if operationsHaveOrderIds -%}
                <td data-title="Order ID">{{ operation.orderId }}</td>
                {%- endif %}
              </tr>
              {%- endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
