{% extends 'base.html' %}

{% block title %}{{ asset.name }}{% endblock %}

{% block links %}
{% endblock %}

{% block plugins_scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='plugins/moment/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/chart.js/Chart.min.js') }}"></script>
{% endblock %}

{% block user_scripts %}
<script type="text/javascript">
  function onTrash() {
    $.post('{{ url_for('assets.trash', id=asset._id) }}', success=function(data){
      location.href='{{ url_for('assets.index') }}'
    })
  }
</script>
{% if asset.quoteHistory %}
<script type="text/javascript">
  const data = {{ asset.quoteHistory | tojson }};
  const operations = {{ asset.operations | tojson }};
  const operationsBuy = operations.filter(function(e){ return e.type == 'BUY'; })
  const operationsSell = operations.filter(function(e){ return e.type == 'SELL'; })
  var chart = new Chart(document.getElementById('chart').getContext('2d'), {
    type: 'line',
    data: {
      datasets: [{
        label: '{{ asset.name }}',
        cubicInterpolationMode: 'monotone',
        pointRadius: 0,
        data: data.map(function(e){ return {t: e.timestamp, y: e.quote}; }),
        backgroundColor: 'rgba(0, 123, 255, 0.65)',
        borderColor: 'rgba(0, 123, 255, 1)',
        borderWidth: 2,
        order: 1
      }, {
        label: 'buy',
        pointRadius: 5,
        showLine: false,
        data: operationsBuy.map(function(e){ return {t: e.date, y: e.price/e.quantity}; }),
        pointBackgroundColor: 'rgb(40, 167, 69)',
        pointBorderColor: 'rgb(40, 167, 69)'
      }, {
        label: 'sell',
        pointRadius: 5,
        showLine: false,
        data: operationsSell.map(function(e){ return {t: e.date, y: e.price/e.quantity}; }),
        pointBackgroundColor: 'rgb(220, 53, 69)',
        pointBorderColor: 'rgb(220, 53, 69)'
      }]
    },
    options: {
      maintainAspectRatio: false,
      responsive: true,
      scales: {
        xAxes: [{
          type: 'time',
          time: {
            unit: 'day',
            displayFormats: {
              day: 'D MMM YY'
            }
          }
        }],
        yAxes: [{
          scaleLabel: {
            display: true,
            labelString: '{{ asset.currency }}'
          }
        }],
      },
      hover: {
        mode: 'nearest'
      },
      legend: {
        display: true,
        labels: {
          filter: function(legendItem, data) {
            return legendItem.text != 'buy' && legendItem.text != 'sell';
          }
        }
      },
      tooltips: {
        callbacks: {
          label: function(tooltipItem, data) {
            if (tooltipItem.datasetIndex == 0)
              return tooltipItem.yLabel + " {{ asset.currency }}";

            const op = tooltipItem.datasetIndex == 1 ? operationsBuy[tooltipItem.index] : operationsSell[tooltipItem.index]
            return op.type + ' ' + op.quantity + ' @ ' + Number((op.price/op.quantity).toFixed(2)) + ' {{ asset.currency }}';
          }
        }
      }
    }
  });
</script>
{% endif %}
{% endblock %}

{% block content %}
<div class="container-sm">
  <div class="row">
    <div class="col-5">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Info</h3>
        </div>
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-3">Name</dt>
            <dd class="col-sm-9">{{ asset.name }}</dd>
            <dt class="col-sm-3">Type</dt>
            <dd class="col-sm-9">{{ asset.type }}</dd>
            <dt class="col-sm-3">Category</dt>
            <dd class="col-sm-9">{{ asset.category }}
            {%- if asset.subcategory -%}
            &nbsp;({{ asset.subcategory }})
            {%- endif -%}
            </dd>
            {% if asset.ticker -%}
            <dt class="col-sm-3">Ticker</dt>
            <dd class="col-sm-9">{{ asset.ticker }}</dd>
            {%- endif %}
            <dt class="col-sm-3">Institution</dt>
            <dd class="col-sm-9">{{ asset.institution }}</dd>
            <dt class="col-sm-3">Currency</dt>
            <dd class="col-sm-9">{{ asset.currency }}</dd>
            {% if asset.link -%}
            <dt class="col-sm-3">Link</dt>
            <dd class="col-sm-9"><a href="{{ asset.link }}" target="_blank" rel="noopener noreferrer">{{ asset.link }}</a></dd>
            {% endif %}
            <dt class="col-sm-3">Labels</dt>
            <dd class="col-sm-9">
              {%- for label in asset.labels -%}
                <span class="badge badge-success mr-1">{{ label }}</span>
              {%- endfor -%}
            </dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Status</h3>
        </div>
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-6">Status</dt>
            <dd class="col-sm-6">
              {%- if asset.trashed -%}
              <span class="text-muted">Trashed</span>
              {%- elif asset.finalQuantity and asset.finalQuantity > 0 -%}
              <span class="text-success">Active</span>
              {%- else -%}
              <span class="text-muted">Inactive</span>
              {%- endif -%}
            </dd>
            <dt class="col-sm-6">Holding period</dt>
            <dd class="col-sm-6">
              {%- if asset.finalQuantity and asset.finalQuantity > 0 -%}
              {{ asset._holdingDays }} days
              {%- endif -%}
            </dd>
            <dt class="col-sm-6">Volume</dt>
            <dd class="col-sm-6">{{ asset.finalQuantity if asset.finalQuantity else 0 }}</dd>
            {%- if asset.type != 'Deposit' %}
            <dt class="col-sm-6">Average open price</dt>
            <dd class="col-sm-6">
              {%- if asset.finalQuantity and asset.finalQuantity > 0 -%}
              {{ asset._averagePrice | round(2) }} {{ asset.currency }}
              {%- endif -%}
            </dd>
            {%- endif %}
          </dl>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card card-secondary">
        <div class="card-header">
          <h3 class="card-title">Actions</h3>
        </div>
        <div class="card-body">
          {%- if not asset.trashed %}
          <button class="btn btn-outline-secondary btn-block" type="button" onclick="location.href='{{ url_for('assets.receipt', id=asset._id) }}'">
            <i class="fa fa-shopping-cart"></i> {{ 'Add or spend' if asset.type == 'Deposit' else 'Buy or sell' }}
          </button>
          {%- endif %}

          <button class="btn btn-outline-secondary btn-block" type="button" onclick="location.href=''">
            <i class="fas fa-edit"></i> Edit
          </button>

          {%- if asset.pricing.quoteId %}
          <button class="btn btn-outline-secondary btn-block" type="button" onclick="location.href='{{ url_for('quotes.importQuotes', id=asset.pricing.quoteId) }}'">
            <i class="fa fa-upload"></i> Import quotes
          </button>
          {%- endif %}

          {% if not asset.trashed and (not asset.finalQuantity or asset.finalQuantity == 0) -%}
          <button class="btn btn-outline-secondary btn-block" type="button" onclick="onTrash()">
            <i class="fa fa-trash"></i> Move to trash
          </button>
          {%- endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% if asset.quoteHistory -%}
<div class="container-sm">
  <div class="row">
    <div class="col-12">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Graph</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <canvas id="chart" style="min-height: 400px; height: 400px; max-height: 400px; max-width: 100%;"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
{%- endif %}
<div class="container-sm">
  <div class="row">
    <div class="col-12">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Operations</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-bordered">
            {% set operationsHaveCodes = (asset.operations | selectattr('code') | list | count) -%}
            <thead>
              <tr>
                <th style="width: 10px">#</th>
                <th>Date</th>
                <th style="width: 30px">Type</th>
                <th>{{ 'Value' if asset.type == 'Deposit' else 'Volume' }}</th>
                {%- if asset.type != 'Deposit' %}
                <th>Price <span class="smaller">[{{ asset.currency }}]</span></th>
                <th>Unit price <span class="smaller">[{{ asset.currency }}]</span></th>
                {%- endif %}
                {% if asset.currency != 'PLN' -%}
                <th>Currency conversion</th>
                {%- endif %}
                <th>Provision &amp; tax <span class="smaller">[PLN]</span></th>
                <th>Final {{ 'value' if asset.type == 'Deposit' else 'volume' }}</th>
                {% if operationsHaveCodes -%}
                <th>Code</th>
                {%- endif %}
              </tr>
            </thead>
            <tbody>
              {% for operation in asset.operations -%}
              <tr>
                <td>{{ loop.index }}</td>
                <td>{{ operation.date }}</td>
                <td>
                  <span class="badge bg-{{ 'danger' if operation.type == 'SELL' or operation.type == 'SPEND' else 'success' }}">
                    {%- if asset.type == 'Deposit' %}
                    {{ 'ADD' if operation.type == 'BUY' else 'SPEND' }}
                    {%- else %}
                    {{ operation.type }}
                    {%- endif %}
                  </span>
                </td>
                <td>{{ operation.quantity }}</td>
                {%- if asset.type != 'Deposit' %}
                <td>{{ operation.price }}</td>
                <td>{{ (operation.price / operation.quantity) | round(3) }}</td>
                {%- endif %}
                {% if asset.currency != 'PLN' -%}
                <td>{{ operation.currencyConversion | round(4) }}</td>
                {%- endif %}
                <td>{{ operation.provision if operation.provision else 0 }}</td>
                <td>{{ operation.finalQuantity }}</td>
                {% if operationsHaveCodes -%}
                <td>{{ operation.code }}</td>
                {%- endif %}
              </tr>
              {%- endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
