{% extends 'base.html' %}

{% block title %}{{ asset.name }}{% endblock %}

{% block links %}
{% endblock %}

{% block plugins_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/charts.js') }}"></script>
{% endblock %}

{% block user_scripts %}
<script type="text/javascript" src="{{ url_for('.static', filename='assets/item.js') }}"></script>
<script type="text/javascript">
  function onTrash() {
    $.post('{{ url_for('assets.trash', id=asset.id) }}', success=function(data){
      location.href='{{ url_for('assets.index', label=session['label']) }}'
    })
  }
</script>
{% if quoteHistory %}
<script type="text/javascript">
  const data = {{ quoteHistory.data | tojson }};
  const operations = {{ asset.operations | simplify | tojson }};

  setupChart('{{ asset.name | safe }}', '{{ asset.currency.name }}', data, operations);
</script>
{% endif %}
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-5">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Info</h3>
        </div>
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-3">Name</dt>
            <dd class="col-sm-9">{{ asset.name }}</dd>
            <dt class="col-sm-3">Type</dt>
            <dd class="col-sm-9">{{ asset.type | simplify }}</dd>
            <dt class="col-sm-3">Category</dt>
            <dd class="col-sm-9">{{ asset.category }}
            {%- if asset.subcategory -%}
            &nbsp;({{ asset.subcategory }})
            {%- endif -%}
            </dd>
            {% if asset.ticker -%}
            <dt class="col-sm-3">Ticker</dt>
            <dd class="col-sm-9">{{ asset.ticker }}</dd>
            {%- endif %}
            <dt class="col-sm-3">Institution</dt>
            <dd class="col-sm-9">{{ asset.institution }}</dd>
            <dt class="col-sm-3">Currency</dt>
            <dd class="col-sm-9">{{ asset.currency.name }}</dd>
            {%- if asset.pricing and asset.pricing.quoteId %}
            <dt class="col-sm-3">Pricing</dt>
            <dd class="col-sm-9"><a href="{{ url_for('pricing.index', quoteId=asset.pricing.quoteId) }}">{{ quoteHistory.name }}</a></dd>
            {%- endif %}
            {% if asset.link -%}
            <dt class="col-sm-3">Link</dt>
            <dd class="col-sm-9"><a href="{{ asset.link }}" target="_blank" rel="noopener noreferrer">{{ asset.link }}</a></dd>
            {% endif %}
            <dt class="col-sm-3">Labels</dt>
            <dd class="col-sm-9">
              {%- for label in asset.labels -%}
                <span class="badge badge-success mr-1">{{ label }}</span>
              {%- endfor -%}
            </dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Status</h3>
        </div>
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-7">Status</dt>
            <dd class="col-sm-5">
              {%- if asset.trashed -%}
              <span class="text-muted">Trashed</span>
              {%- elif asset.operations and asset.operations[-1].finalQuantity > 0 -%}
              <span class="text-success">Active</span>
              {%- else -%}
              <span class="text-muted">Inactive</span>
              {%- endif -%}
            </dd>
            <dt class="col-sm-7">Holding period</dt>
            <dd class="col-sm-5">
              {{ profitInfo.holdingDays if profitInfo.holdingDays else 0 }} days
            </dd>
            <dt class="col-sm-7">Volume</dt>
            <dd class="col-sm-5">{{ asset.operations[-1].finalQuantity if asset.operations else 0 }}</dd>
            {%- if asset.type != 'Deposit' %}
            <dt class="col-sm-7">Average open price</dt>
            <dd class="col-sm-5">
              {%- if asset.operations and asset.operations[-1].finalQuantity > 0 -%}
              {{ profitInfo.avgPrice | asCurrency(asset.currency.name) }}
              {%- endif -%}
            </dd>
            {%- if quoteHistory %}
            <dt class="col-sm-7">Current price</dt>
            <dd class="col-sm-5" title="{{ quoteHistory.data[-1].timestamp }}">
              {{ quoteHistory.data[-1].quote | asCurrency(asset.currency.name) }}
            </dd>
            {%- endif %}
            {%- elif asset.currency.name != config.MAIN_CURRENCY %}
            <dt class="col-sm-7">Average conversion rate</dt>
            <dd class="col-sm-5">
              {{ profitInfo.avgNetPrice | round(8) }} {{ config.MAIN_CURRENCY }}
            </dd>
            {%- if quoteHistory %}
            <dt class="col-sm-7">Current rate</dt>
            <dd class="col-sm-5" title="{{ quoteHistory.data[-1].timestamp }}">
              {{ quoteHistory.data[-1].quote | asCurrency(config.MAIN_CURRENCY) }}
            </dd>
            {%- endif %}
            {%- endif %}
          </dl>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card card-secondary">
        <div class="card-header">
          <h3 class="card-title">Actions</h3>
        </div>
        <div class="card-body">
          {%- if not asset.trashed %}
          <button class="btn btn-outline-secondary btn-block" type="button" onclick="location.href='{{ url_for('assets.receipt', id=asset.id) }}'">
            <i class="fa fa-shopping-cart"></i> Record operation
          </button>
          {%- endif %}

          <button class="btn btn-outline-secondary btn-block" type="button" onclick="location.href=''">
            <i class="fas fa-edit"></i> Edit
          </button>

          {%- if asset.pricing and asset.pricing.quoteId %}
          <button class="btn btn-outline-secondary btn-block" type="button" onclick="location.href='{{ url_for('quotes.importQuotes', id=asset.pricing.quoteId) }}'">
            <i class="fa fa-upload"></i> Import quotes
          </button>
          {%- endif %}

          {% if not asset.trashed and not (asset.operations and asset.operations[-1].finalQuantity > 0) -%}
          <button class="btn btn-outline-secondary btn-block" type="button" onclick="onTrash()">
            <i class="fa fa-trash"></i> Move to trash
          </button>
          {%- endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% if quoteHistory -%}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Graph</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <div id="chart" style="min-height: 400px; height: 400px; max-height: 400px; max-width: 100%;"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{%- endif %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Operations</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-bordered">
            {% set operationsHaveOrderIds = (asset.operations | selectattr('orderId') | list | count) -%}
            <thead>
              <tr>
                <th style="width: 10px">#</th>
                <th>Date</th>
                <th style="width: 30px">Type</th>
                <th>{{ 'Value' if asset.type == 'Deposit' else 'Volume' }}</th>
                {%- if asset.type != 'Deposit' %}
                <th>Price <span class="smaller">[{{ asset.currency.name }}]</span></th>
                <th>Unit price <span class="smaller">[{{ asset.currency.name }}]</span></th>
                {%- endif %}
                {% if asset.currency.name != config.MAIN_CURRENCY -%}
                <th>Conversion rate</th>
                {%- endif %}
                <th>Provision &amp; tax <span class="smaller">[{{ config.MAIN_CURRENCY }}]</span></th>
                <th>{{ 'Value' if asset.type == 'Deposit' else 'Volume' }} after operation</th>
                {% if operationsHaveOrderIds -%}
                <th>Order ID</th>
                {%- endif %}
                <th>Info</th>
              </tr>
            </thead>
            <tbody>
              {% for operation, breakdown in asset.operations | zip(profitInfo.breakdown) | reverse -%}
              <tr>
                <td data-title="#">{{ asset.operations|length - loop.index + 1 }}</td>
                <td data-title="Date">{{ operation.date }}</td>
                <td data-title="Type">
                  <span class="badge badge-info badge-op-{{ operation.type.value }}">
                    {{ operation.type | operationDisplayString(asset.type) }}
                  </span>
                </td>
                <td data-title="{{ 'Value' if asset.type == 'Deposit' else 'Volume' }}">{{ operation.quantity if operation.quantity else '' }}</td>
                {%- if asset.type != 'Deposit' %}
                <td data-title="Price">{{ operation.price }}</td>
                <td data-title="Unit price">
                  {{ operation.unitPrice | asCurrency(asset.currency.name, False) }}
                </td>
                {%- endif %}
                {% if asset.currency.name != config.MAIN_CURRENCY -%}
                <td data-title="Conversion rate">{{ operation.currencyConversion | round(4) }}</td>
                {%- endif %}
                <td data-title="Provision">{{ operation.provision if operation.provision else 0 }}</td>
                <td data-title="Final {{ 'value' if asset.type == 'Deposit' else 'volume' }}">{{ operation.finalQuantity }}</td>
                {% if operationsHaveOrderIds -%}
                <td data-title="Order ID">{{ operation.orderId }}</td>
                {%- endif %}
                <td>
                  <a href="#modalBreakdown_{{ loop.index }}" class="imagelink" data-toggle="modal" data-target="#modalBreakdown_{{ loop.index }}">
                  {%- if breakdown.remainingOpenQuantity is not none %}
                    {%- if breakdown.remainingOpenQuantity == 0 %}
                    <i class="fa-solid fa-circle-check fa-fw" title="Remaining open quantity: {{ breakdown.remainingOpenQuantity }}"></i>
                    {%- elif breakdown.remainingOpenQuantity == operation.quantity %}
                    <i class="fa-regular fa-circle fa-fw" title="Remaining open quantity: {{ breakdown.remainingOpenQuantity }}"></i>
                    {%- else %}
                    <i class="fa-solid fa-circle-half-stroke fa-fw" title="Remaining open quantity: {{ breakdown.remainingOpenQuantity }}"></i>
                    {%- endif %}
                  {%- else %}
                    <i class="fa-solid fa-dollar-sign fa-fw"></i>
                  {%- endif %}
                  </a>
                </td>
              </tr>
              {%- endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% for operation, breakdown in asset.operations | zip(profitInfo.breakdown) | reverse -%}
<div class="modal fade" id="modalBreakdown_{{ loop.index }}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <span class="badge badge-info badge-op-{{ operation.type.value }}">
            {{ operation.type | operationDisplayString(asset.type) }}
          </span>
          {{ operation.date }}
        </h4>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	  <span aria-hidden="true">&times;</span>
	</button>
      </div>
      <div class="modal-body">
        <dl class="row">
          {%- if operation.quantity is not none %}
          <dt class="col-sm-4">{{ 'Value' if asset.type == 'Deposit' else 'Volume' }}</dt>
          <dd class="col-sm-8">
            {{ operation.quantity }}
            {%- if asset.type == 'Deposit' %}
              {{ asset.currency.name }}
            {%- endif %}
          </dd>
          <dt class="col-sm-4">{{ 'Value' if asset.type == 'Deposit' else 'Volume' }} after operation</dt>
          <dd class="col-sm-8">
            {{ operation.finalQuantity }}
            {%- if asset.type == 'Deposit' %}
              {{ asset.currency.name }}
            {%- endif %}
          </dd>
          {%- endif %}
          {%- if asset.type != 'Deposit' %}
          <dt class="col-sm-4">{{ 'Price' if operation.type != 'Earning' else 'Profit' }}</dt>
          <dd class="col-sm-8">{{ operation.price }} {{ asset.currency.name }}</dd>
          {%- endif %}
          {% if asset.currency.name != config.MAIN_CURRENCY -%}
          <dt class="col-sm-4">Conversion rate</dt>
          <dd class="col-sm-8">{{ operation.currencyConversion | round(4) }}</dd>
          {%- endif %}
          <dt class="col-sm-4">Provision &amp; tax</dt>
          <dd class="col-sm-8">{{ operation.provision if operation.provision else 0 }} {{ config.MAIN_CURRENCY }}</dd>
          {%- if breakdown.remainingOpenQuantity is not none %}
          <dt class="col-sm-4">Remaining open {{ 'value' if asset.type == 'Deposit' else 'volume' }}</dt>
          <dd class="col-sm-8">
            {{ breakdown.remainingOpenQuantity }}
            {%- if asset.type == 'Deposit' %}
              {{ asset.currency.name }}
            {%- endif %}
          </dd>
          {%- endif %}
        </dl>
        {%- if breakdown.matchingOpenPositions %}
        <table class="table table-sm">
          <thead>
            <tr>
              <th>Operation</th>
              <th>Matched {{ 'value' if asset.type == 'Deposit' else 'volume' }}</th>
              <th>
                Open price
              </th>
              <th>
                Close price
              </th>
              <th>
                Profit</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <h5>Matching open positions</h5>
            {% for matchingPosition in breakdown.matchingOpenPositions -%}
            <tr>
              <td>
                <span class="badge badge-info badge-op-{{ matchingPosition.operation.type.value }}">
                  {{ matchingPosition.operation.type | operationDisplayString(asset.type) }}
                </span>
                {{ matchingPosition.operation.date }}
              </td>
              <td>{{ matchingPosition.quantity }} / {{ matchingPosition.operation.quantity }}</td>
              <td>
                {{ (matchingPosition.operation.unitPrice * matchingPosition.quantity) | asCurrency(asset.currency.name) }}
                {% if asset.currency.name != config.MAIN_CURRENCY -%}
                / {{ (matchingPosition.operation.unitPrice * matchingPosition.quantity * matchingPosition.operation.currencyConversion) | asCurrency(config.MAIN_CURRENCY) }}
                {%- endif %}
              </td>
              <td>
                {{ (operation.unitPrice * matchingPosition.quantity) | asCurrency(asset.currency.name) }}
                {% if asset.currency.name != config.MAIN_CURRENCY -%}
                / {{ (operation.unitPrice * matchingPosition.quantity * operation.currencyConversion) | asCurrency(config.MAIN_CURRENCY) }}
                {%- endif %}
              </td>
              <td>
                {{ ((operation.unitPrice - matchingPosition.operation.unitPrice) * matchingPosition.quantity) | asCurrency(asset.currency.name) }}
                {% if asset.currency.name != config.MAIN_CURRENCY -%}
                / {{ ((operation.unitPrice * operation.currencyConversion - matchingPosition.operation.unitPrice * matchingPosition.operation.currencyConversion) * matchingPosition.quantity) | asCurrency(config.MAIN_CURRENCY) }}
                {%- endif %}
              </td>
            </tr>
            {%- endfor %}
          </tbody>
        </table>
        {%- endif %}
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{%- endfor %}
{% endblock %}
