{% extends 'base.html' %}

{% block title %}Asset list{% endblock %}

{% block links %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.23/b-2.1.1/b-colvis-2.1.1/r-2.2.9/sl-1.3.4/datatables.min.css"/>
{% endblock %}

{% block plugins_scripts %}
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.23/b-2.1.1/b-colvis-2.1.1/r-2.2.9/sl-1.3.4/datatables.min.js"></script>
{% endblock %}

{% block user_scripts %}
<script type="text/javascript" src="{{ url_for('.static', filename='assets/list.js') }}"></script>
{% endblock %}

{% block styles %}
<style>
.dataTables_filter {
  display: none;
}
</style>
{% endblock %}

{% block content %}
<div class="container-flex">
  <div class="row">
    <div class="col-12">
      <div class="card card-primary d-flex p-0">
        <div class="card-header">
          <h3 class="card-title">Assets</h3>
          <div class="card-tools">
            <span id="tableElements" class="px-2"></span>
            <input id="asset-filter" class="form-control form-control-sm datatables-filter-custom" type="text" placeholder="Search" data-lpignore="true"/>
            <a href="{{ url_for('assets.add') }}">
              <button class="btn btn-tool" type="button" title="Add new asset"><i class="fas fa-plus-circle"></i></button>
            </a>
          </div>
        </div>
        <div class="card-body">
					<table id="assetsTable" class="table table-bordered table-striped table-hover">
            <thead role="row">
              <tr>
                <th>Name</th>
                <th>Labels</th>
                <th>Institution</th>
                <th>Type</th>
                <th>Category</th>
                <th>Subcategory</th>
                <th>Region</th>
                <th>Volume</th>
              </tr>
            </thead>
            <tbody>
              {% for asset in assets %}
              <tr>
                <td data-title="Name">
                  <a href="{{ url_for('assets.index', id=asset._id) }}">
                    {{ asset.name }}{{ " [" + asset.ticker + "]" if asset.ticker else "" }}
                  </a>
                  {% if asset.link -%}
                  <a href="{{asset.link}}" target="_blank" rel="noopener noreferrer" class="imagelink" title="External asset site">
                    <i class="fas fa-external-link-alt fa-fw fa-pull-right"></i>
                  </a>
                  {% else -%}
                  <i class="fas fa-fw fa-pull-right"></i>
                  {% endif %}
                  <a href="{{ url_for('assets.receipt', id=asset._id) }}" class="imagelink" title="Register operation">
                    <i class="fas fa-shopping-cart fa-fw fa-pull-right"></i>
                  </a>
                </td>
                <td data-title="Labels">
                  {%- for label in asset.labels | sort %}
                  <span class="badge badge-{{ 'success' if label == header.label else 'secondary'}} mr-1">{{ label }}</span>
                  {%- endfor -%}
                </td>
                <td data-title="Institution">{{ asset.institution }}</td>
                <td data-title="Type">{{ asset.type }}</td>
                <td data-title="Category">{{ asset.category }}</td>
                <td data-title="Subcategory">{{ asset.subcategory if asset.subcategory else "" }}</td>
                <td data-title="Region">{{ asset.region }}</td>
                <td data-title="Volume">{{ asset.finalQuantity or 0 }}</td>
              </tr>
              {% endfor %}
            </tbody>
					</table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
