{% extends 'base.html' %}

{% block title %}Add receipt for {{ asset.name }}{% endblock %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css') }}">
{% endblock %}

{% block plugins_scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='plugins/jquery-validation/jquery.validate.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery.validate.methods.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/moment/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js') }}"></script>
{% endblock %}

{% block user_scripts %}
<script type="text/javascript" src="{{ url_for('.static', filename='assets/receipt.js') }}"></script>
<script type="text/javascript" src="{{ url_for('.static', filename='assets/receipt_logic.js') }}"></script>
<script type="text/javascript">
setupForm({
  initQuantity: {{ asset.finalQuantity }},
  currency: '{{ asset.currency.name }}',
  type: '{{ asset.type }}',
  submitUrl: "{{ url_for('assets.receipt', id=asset._id) }}",
  nextUrl: "{{ url_for('assets.index', id=asset._id) }}"
});
</script>
{% endblock %}

{% block content %}
<div class="container-sm">
  <div class="row">
    <div class="col-12">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">{{ asset.name }}</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-3">Name</dt>
            <dd class="col-sm-9">{{ asset.name }}</dd>
            <dt class="col-sm-3">Type</dt>
            <dd class="col-sm-9">{{ asset.type }}</dd>
            {% if asset.ticker -%}
            <dt class="col-sm-3">Ticker</dt>
            <dd class="col-sm-9">{{ asset.ticker }}</dd>
            {%- endif %}
            <dt class="col-sm-3">Institution</dt>
            <dd class="col-sm-9">{{ asset.institution }}</dd>
            {%- if asset.link %}
            <dt class="col-sm-3">Link</dt>
            <dd class="col-sm-9"><a href="{{ asset.link }}" target="_blank" rel="noopener noreferrer">{{ asset.link }}</a></dd>
            {%- endif %}
            <dt class="col-sm-3">Labels</dt>
            <dd class="col-sm-9">
              {%- for label in asset.labels -%}
                <span class="badge badge-success mr-1">{{ label }}</span>
              {%- endfor -%}
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-sm">
  <div class="row">
    <div class="col-12">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Record operation</h3>
        </div>
        <form method="post" action="">
          <input type="hidden" name="_id" value="{{ asset._id }}"/>
          <div class="card-body">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="f-type">Type</label>
                  <select id="f-type" name="type" class="custom-select" required>
                    <option value="" hidden disabled selected value></option>
                    <option value="BUY">{{ 'BUY' | operationDisplayString(asset.type) }}</option>
                    <option value="SELL">{{ 'SELL' | operationDisplayString(asset.type) }}</option>
                    {%- if asset.type != 'Deposit' %}
                    <option value="RECEIVE">{{ 'RECEIVE' | operationDisplayString(asset.type) }}</option>
                    {%- endif %}
                    <option value="EARNING">{{ 'EARNING' | operationDisplayString(asset.type) }}</option>
                  </select>
                </div>
              </div>
              {%- if asset.codes %}
              <div class="col">
                <div class="form-group">
                  <label for="f-code">Code</label>
                  <input type="text" id="f-code" name="code" required class="form-control" data-lpignore="true"/>
                </div>
              </div>
              {% endif %}
              <div class="col">
                <div class="form-group">
                  <label for="f-date">Transaction time</label>
                  <div class="input-group date" id="f-date-group" data-target-input="nearest">
                    <input type="text" id="f-date" name="date" class="form-control datetimepicker-input" data-target="#f-date-group" required/>
                    <div class="input-group-append" data-target="#f-date-group" data-toggle="datetimepicker">
                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6" id="c-quantity">
                <div class="form-group" id="g-quantity">
                  <label for="f-quantity">{{ 'Value' if asset.type == 'Deposit' else 'Volume' }}</label>
                  <div class="input-group">
                    {%- if asset.type == 'Deposit' %}
                    <div class="input-group-prepend">
                      <span class="input-group-text">{{ asset.currency.name }}</span>
                    </div>
                    {%- else %}
                    <div class="input-group-prepend">
                      <button class="btn btn-info" id="f-quan-all" type="button" disabled="disabled">All</button>
                    </div>
                    {%- endif %}
                    <input type="number" id="f-quantity" name="quantity" class="form-control" placeholder="0" step="any" data-lpignore="true" required/>
                  </div>
                </div>
              </div>
              <div class="col-6" id="c-quantity-after">
                <div class="form-group" id="g-quantity-after">
                  <label for="f-quantity-after">{{ 'Value' if asset.type == 'Deposit' else 'Volume' }} after operation</label>
                  <div class="input-group">
                    {%- if asset.type == 'Deposit' %}
                    <div class="input-group-prepend">
                      <span class="input-group-text">{{ asset.currency.name }}</span>
                    </div>
                    {%- endif %}
                    <input type="text" id="f-quantity-after" name="finalQuantity" class="form-control" disabled="disabled" value="{{ asset.finalQuantity }}" data-lpignore="true"/>
                  </div>
                </div>
              </div>
            </div>

            {%- if asset.type != 'Deposit' %}
            <div class="row">
              <div class="col" id="c-unit-price">
                <div class="form-group" id="g-unit-price">
                  <label for="f-unit-price">Unit price</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">{{ asset.currency.name }}</span>
                    </div>
                    <input type="number" value="{{ asset.lastQuote if asset.lastQuote else 0 }}" step="any" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control" id="f-unit-price" name="unit-price" required/>
                  </div>
                </div>
              </div>
              <div class="col" id="c-price">
                <div class="form-group" id="g-price">
                  <label for="f-price" id="l-price">Assets value</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">{{ asset.currency.name }}</span>
                    </div>
                    <input type="number" placeholder="0" step="any" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control" id="f-price" name="price" required/>
                  </div>
                </div>
              </div>
            </div>
            {%- endif %}

            {% if asset.currency.name != currencyMain -%}
            <div class="row">
              <div class="col-12">
                <div class="form-group" id="g-conversion">
                  <label for="f-conversion">Currency rate {{ asset.currency.name }}/{{ currencyMain }}</label>
                  <input type="number" value="{{ asset.lastCurrencyRate if asset.lastCurrencyRate else 0 }}" step="any" id="f-conversion" class="form-control" name="currencyConversion" required/>
                </div>
              </div>
            </div>
            {%- endif %}
            <div class="row">
              <div class="col-6">
                <div class="form-group" id="g-provision">
                  <label for="f-provision">Provision and tax</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">{{ currencyMain }}</span>
                    </div>
                    <input type="number" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control" id="f-provision" name="provision" />
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group" id="g-cost">
                  <label for="f-cost">{{ 'Deposit value' if asset.type == 'Deposit' else 'Payable amount' }}</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">{{ currencyMain }}</span>
                    </div>
                    <input type="number" class="form-control" id="f-cost" name="cost" disabled="disabled" value="0" />
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group" id="g-billing-asset">
                  <label for="f-billing-asset">Billing asset acount</label>
                  <select id="f-billing-asset" name="billingAsset" class="custom-select">
                    <option value="" hidden disabled selected value></option>
                    {%- for account in depositAccounts %}
                    <option value="{{ account._id }}">{{ account.name }} [{{ account.currency.name }}] in {{ account.institution }}</option>
                    {%- endfor %}
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button class="btn btn-primary" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
