{% extends 'base.html' %}

{% block title %}Add receipt for {{ asset.name }}{% endblock %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css') }}">
{% endblock %}

{% block plugins_scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='plugins/jquery-validation/jquery.validate.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery.validate.methods.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/moment/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js') }}"></script>
{% endblock %}

{% block user_scripts %}
<script type="text/javascript">
$(function () {
  $('#f-date-group').datetimepicker({
    locale: 'pl',
    format: 'YYYY-MM-DD HH:mm:ss',
  });
})
</script>
<script type="text/javascript">
$(document).ready(function(){
  function formatDate(d) {
    return d.getFullYear() + "-" + ("0"+(d.getMonth()+1)).slice(-2) + "-" + ("0" + d.getDate()).slice(-2) + " " +
      ("0" + d.getHours()).slice(-2) + ":" + ("0" + d.getMinutes()).slice(-2) + ":" + ("0" + d.getSeconds()).slice(-2);
  }
  $("#f-date").val(formatDate(new Date()))

  function floatVal(element, def = 0.0) {
    var res = parseFloat(element.val());
    return isNaN(res) ? def : res;
  }

  function updateQuantity() {
    var quantity = $("#f-quantity")
    if (quantity.valid())
      var type = $("#f-type").val()
      var multiplier = 1
      if (type == "SELL")
        multiplier = -1
      $("#f-quantity-after").val(floatVal(quantity)*multiplier + {{ asset.finalQuantity if asset.finalQuantity else 0 }})
  }

  $("#f-quantity").on('input', updateQuantity)
  $("#f-type").change(updateQuantity)
  $("#f-type").change(function(){
    $("#f-quan-all").attr('disabled', $(this).val() != "SELL")
  })

  function updateCost() {
    var provision = $("#f-provision")
    var price = $("#f-price")
    var conversion = $("#f-conversion")
    if (price.valid() && provision.valid() && (!conversion.length || conversion.valid())) {
      var cost = floatVal(provision) + floatVal(conversion, 1.0) * floatVal(price)
      $("#f-cost").val(Number(cost.toFixed(2)))
    }
  }

  $("#f-provision").on('input', updateCost)
  $("#f-conversion").on('input', updateCost)
  $("#f-price").on('input', updateCost)
  $("#f-unit-price").on('input', updateCost)

  $("#f-price").on('input', function(){
    var quantity = $("#f-quantity");
    var price = $(this);
    if (quantity.valid() && price.valid()) {
      $("#f-unit-price").val(Number((floatVal(price) / floatVal(quantity)).toFixed(2)));
    }
  });

  $("#f-unit-price").on('input', function(){
    var quantity = $("#f-quantity");
    var unitprice = $(this);
    if (quantity.valid() && unitprice.valid()) {
      $("#f-price").val(floatVal(unitprice) * floatVal(quantity));
    }
  });

  $("#f-quantity").on('input', function(){
    var quantity = $(this);
    if (!quantity.valid())
      return;

    var price = $("#f-price");
    var unitprice = $("#f-unit-price");
    if (price.valid()) {
      unitprice.val(Number((floatVal(price) / floatVal(quantity)).toFixed(2)));
    } else if (unitprice.valid()) {
      price.val(floatVal(unitprice) * floatVal(quantity));
    }
  });

  $("#f-quan-all").click(function(){
    $("#f-quantity").val({{ asset.finalQuantity }})
    updateQuantity();
  })
})
</script>
<script type="text/javascript">
$.validator.setDefaults({
  submitHandler: function() {
    $("#f-quantity-after").removeAttr('disabled');
    $.post('/asset/receipt?id={{ asset._id }}', $('form').serialize(), function(data) {
      $(location).attr("href", "{{ url_for('assets.index', id=asset._id) }}");
    })
  }
});
$("form").validate({
  rules: {
    date: {
      isDate: true
    },
    currencyConversion: {
      greaterThan: 0
    },
    price: {
      greaterThan: 0
    },
    quantity: {
      greaterThan: 0
    }
  },
  errorElement: 'span',
  errorPlacement: function (error, element) {
          error.addClass('invalid-feedback');
          element.closest('.form-group').append(error);
  },
  highlight: function (element, errorClass, validClass) {
          $(element).addClass('is-invalid');
  },
  unhighlight: function (element, errorClass, validClass) {
          $(element).removeClass('is-invalid');
  },
});
</script>
{% endblock %}

{% block content %}
<div class="container-sm">
  <div class="row">
    <div class="col-12">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">{{ asset.name }}</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-4">Name</dt>
            <dd class="col-sm-8">{{ asset.name }}</dd>
            {% if asset.ticker -%}
            <dt class="col-sm-4">Ticker</dt>
            <dd class="col-sm-8">{{ asset.ticker }}</dd>
            {%- endif %}
            <dt class="col-sm-4">Institution</dt>
            <dd class="col-sm-8">{{ asset.institution }}</dd>
            <dt class="col-sm-4">Current quantity</dt>
            <dd class="col-sm-8">{{ asset.finalQuantity if asset.finalQuantity else 0 }}</dd>
            {% if asset.lastQuote -%}
            <dt class="col-sm-4">Last quote</dt>
            <dd class="col-sm-8">{{ asset.lastQuote.quote }} {{ asset.currency }}</dd>
            {%- endif %}
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-sm">
  <div class="row">
    <div class="col-12">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Record operation</h3>
        </div>
        <form method="post" action="">
          <input type="hidden" name="_id" value="{{ asset._id }}"/>
          <div class="card-body">
            <div class="row">
              <div class="col-4">
                <div class="form-group">
                  <label for="f-type">Type</label>
                  <select id="f-type" name="type" class="custom-select" required>
                    <option value="" hidden disabled selected value></option>
                    <option value="BUY">BUY</option>
                    <option value="SELL">SELL</option>
                  </select>
                </div>
              </div>
              <div class="col-8">
                <div class="form-group">
                  <label for="f-date">Transaction time</label>
                  <div class="input-group date" id="f-date-group" data-target-input="nearest">
                    <input type="text" id="f-date" name="date" class="form-control datetimepicker-input" data-target="#f-date-group" required/>
                    <div class="input-group-append" data-target="#f-date-group" data-toggle="datetimepicker">
                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="f-quantity">Quantity</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <button class="btn btn-info" id="f-quan-all" type="button" disabled="disabled">All</button>
                    </div>
                    <input type="number" id="f-quantity" name="quantity" class="form-control" value="0" step="any" data-lpignore="true" required/>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="f-quantity-after">Quantity after operation</label>
                  <input type="text" id="f-quantity-after" name="finalQuantity" class="form-control" disabled="disabled" value="{{ asset.finalQuantity }}" data-lpignore="true"/>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="f-unit-price">Unit price</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">{{ asset.currency }}</span>
                    </div>
                    <input type="number" value="0" step="any" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control" id="f-unit-price" name="unit-price" required/>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="f-price">Transaction value</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">{{ asset.currency }}</span>
                    </div>
                    <input type="number" value="0" step="any" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control" id="f-price" name="price" required/>
                  </div>
                </div>
              </div>
            </div>
            {% if asset.currency != 'PLN' -%}
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label for="f-conversion">Currency rate {{ asset.currency }}/PLN</label>
                  <input type="number" value="0" step="any" id="f-conversion" class="form-control" name="currencyConversion" value="1" required/>
                </div>
              </div>
            </div>
            {%- endif %}
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="f-provision">Provision</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">PLN</span>
                    </div>
                    <input type="number" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control" id="f-provision" name="provision" />
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="f-cost">Total cost</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">PLN</span>
                    </div>
                    <input type="number" class="form-control" id="f-cost" name="cost" disabled="disabled" value="0" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button class="btn btn-primary" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
