{% extends 'base.html' %}

{% block title %}Asset list{% endblock %}

{% block content %}
<div class="section">
  <table class="table-fill">
    <thead>
      <tr>
        <th>Name</th>
        <th>Institution</th>
        <th>Type</th>
        <th>Category</th>
        <th>Region</th>
        <th>Currency</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
      {% for asset in assets | sort(attribute='name') %}
      <tr>
        <td data-title="Name">
          {{ asset.name }}{{ " [" + asset.ticker + "]" if asset.ticker else "" }}
          {% if asset.link -%}
          <a href="{{asset.link}}" target="_blank" rel="noopener noreferrer" class="imagelink" title="External asset site">
            <i class="fas fa-chart-line fa-fw fa-pull-right"></i>
          </a>
          {% else -%}
          <i class="fas fa-fw fa-pull-right"></i>
          {% endif %}
          <a href="{{ url_for('asset.receipt', id=asset._id) }}" class="imagelink" title="Register buy or sell">
            <i class="fas fa-shopping-cart fa-fw fa-pull-right"></i>
          </a>
        </td>
        <td data-title="Institution">{{ asset.institution }}</td>
        <td data-title="Type">{{ asset.type }}</td>
        <td data-title="Category">{{ asset.subcategory if asset.subcategory else asset.category }}</td>
        <td data-title="Region">{{ asset.region }}</td>
        <td data-title="Currency">{{ asset.currency }}</td>
        <td data-title="Quantity">{{ asset.finalQuantity or 0 }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
