<!doctype html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}"/>
  {% block links %}{% endblock %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/adminlte/css/adminlte.min.css') }}"/>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">

  {% block styles %}{% endblock %}
  {% block scripts %}{% endblock %}
</head>

<body class="hold-transition layout-top-nav">
  <div class="wrapper">
    <nav class="main-header navbar navbar-light navbar-white navbar-expand-md">
      <div class="container">
        <div id="navbarCollapse" class="collapse navbar-collapse order-3">
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="{{ url_for('wallet.index', label=session['label']) }}">Wallet</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('wallet.strategy', label=session['label']) }}">Strategy</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('assets.index', label=session['label']) }}">Assets</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('results.index', label=session['label']) }}">Results</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('pricing.index') }}">Pricing</a></li>
          </ul>
        </div>
        <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
          {%- if header.showLabels %}
            {%- for label in header.allLabels | sort %}
              <li class="nav-item">
                {%- if label == session['label'] %}
                <a href="{{ url_for_self(label=None) }}" class="d-block" role="button">
                  <span class="badge badge-success mr-1">{{ label }}</span>
                </a>
                {%- else %}
                <a href="{{ url_for_self(label=label) }}" class="d-block" role="button">
                  <span class="badge badge-secondary mr-1">{{ label }}</span>
                </a>
                {%- endif %}
              </li>
            {%- endfor %}
          {%- endif %}

          {%- if header and header.lastQuoteUpdate -%}
          <li class="nav-item">
            <i class="pl-4 fas fa-fw fa-calendar-check" title="Last quote update in DB: {{ header.lastQuoteUpdate.timestamp }}" data-toggle="tooltip" style="color: {{ "green" if header.lastQuoteUpdate.daysPast < 3 else "red" }}"></i>
          </li>
          {%- endif -%}
        </ul>
      </div>
    </nav>
    <div class="content-wrapper">
      <section class="content-header">
        <div class="container">
          <div class="row mb-2">
            <div class="col-sm-12">
              <h1 class="m-0">
                {% block header %}{% endblock %}
              </h1>
            </div>
          </div>
        </div>
      </section>

      <section class="content">
        {% for msg in get_flashed_messages() %}
          <div class="flash">{{ msg }}</div>
        {% endfor %}

        {% block content %}{% endblock %}
      </section>
    </div>
  </div>

  <!--script src="https://kit.fontawesome.com/2106e6faed.js" crossorigin="anonymous"></script-->
  <script type="text/javascript" src="{{ url_for('static', filename='plugins/fontawesome/fa.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='plugins/jquery/jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  {% block plugins_scripts %}{% endblock %}
  <script type="text/javascript" src="{{ url_for('static', filename='plugins/adminlte/js/adminlte.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/typing.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/utils.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/styling.js') }}"></script>

  <script type="text/javascript">
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>
  {% block user_scripts %}{% endblock %}
</body>
</html>
