{% extends 'base.html' %}

{% block title %}Wallet{% endblock %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}">
{% endblock %}

{% block plugins_scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/moment/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/chart.js/Chart.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/chart.js-plugin-labels/chartjs-plugin-labels.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/chart.js-plugin-colorschemes/chartjs-plugin-colorschemes.min.js') }}"></script>
{% endblock %}

{% block user_scripts %}
<script>
  $('.color-gain').each(function () {
    if ($(this).text().startsWith('-')) {
      $(this).addClass('color-gain-negative')
    } else {
      $(this).addClass('color-gain-positive')
    }
  });
</script>
<script>
  $(function () {
    $('#openAssets').DataTable({
      "paging": false,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": false,
      "autoWidth": false,
      "responsive": true,
      "columnDefs": [
        { "type": "string", "targets": [0, 1, 2, 3] },
        { "type": "num-fmt", "targets": [4, 5, 6, 7, 8] },
        { "orderable": false, "targets": [5] },
      ],
    });
  });
</script>
<script>
  const categoryAllocation = JSON.parse({{ allocation | tojson }});
  const categories = Object.keys(categoryAllocation);
  const subcategories = categories.map(function(c) { return Object.keys(categoryAllocation[c]).map(s => c + ' ' + s); }).flat();

  var categoryChart = new Chart(document.getElementById('allocationChart').getContext('2d'), {
    type: 'doughnut',
    data: {
      labels: categories.concat(subcategories),
      datasets: [{
        data: categories.map(function(c){ return Object.values(categoryAllocation[c]).reduce((a,b) => a+b); }),
        borderWidth: 1
      }, {
        data: categories.map(function(c) { return Object.values(categoryAllocation[c]); }).flat(),
        borderWidth: 1
      }]
    },
    options: {
      maintainAspectRatio: false,
      responsive: true,
      cutoutPercentage: 30,
      plugins: {
        colorschemes: {
          scheme: 'tableau.Classic10'
        },
        labels: {
          render: 'percentage',
          fontColor: 'black',
          fontSize: 16,
          precision: 1
        }
      },
      tooltips: {
        callbacks: {
          label: function(tooltipItem, data) {
            var dataset = data.datasets[tooltipItem.datasetIndex];
            var total = dataset.data.reduce(function(previousValue, currentValue, currentIndex, array) {
                      return previousValue + currentValue;
                    });
            var currentValue = dataset.data[tooltipItem.index];
            var percentage = Number((currentValue/total*100).toFixed(1));
            var labelIdx = tooltipItem.datasetIndex == 0 ? tooltipItem.index : categories.length + tooltipItem.index;
            return data.labels[labelIdx] + ': ' + Number(currentValue.toFixed(2)) + ' PLN [' + percentage + "%]";
          }
        }
      },
      legend: {
        labels: {
          generateLabels: function(chart) {
            // Get the default label list
            const original = Chart.defaults.doughnut.legend.labels.generateLabels;
            const labelsOriginal = original.call(this, chart);

            // Build an array of colors used in the datasets of the chart
            var datasetColors = chart.data.datasets.map(e => e.backgroundColor).flat();

            function findSubIndexes(category) {
              var counter = 0
              for (var c = 0; c < category; ++c) {
                counter += Object.keys(categoryAllocation[categories[c]]).length
              }
              return Array.from({length: Object.keys(categoryAllocation[categories[category]]).length})
                .map((_, i) => i + counter);
            };

            // Modify the color and hide state of each label
            labelsOriginal.forEach(label => {
                label.datasetIndex = label.index < categories.length ? 0 : 1;

                // The hidden state must match the dataset's hidden state
                label.hidden = !chart.isDatasetVisible(label.datasetIndex);

                // Change the color to match the dataset
                label.fillStyle = datasetColors[label.index];

                // Embed information about category mappings
                if (label.index < categories.length) {
                  label.subcategories = findSubIndexes(label.index);
                }
            });

            return labelsOriginal;
          }
        },
        onClick: function(mouseEvent, legendItem) {
          var ctx = this.chart;
          var categoryMeta = ctx.getDatasetMeta(0);
          var subcategoryMeta = ctx.getDatasetMeta(1);

          if (legendItem.index < categories.length) {
            var hidden = categoryMeta.data[legendItem.index].hidden
            // hide category
            categoryMeta.data[legendItem.index].hidden = !hidden
            // and all it's subcategories
            legendItem.subcategories.forEach(function(idx){
              subcategoryMeta.data[idx].hidden = !hidden;
            });
          }
          else {
            var subIndex = legendItem.index - categories.length
            var hidden = subcategoryMeta.data[subIndex].hidden
            // hide subcategory
            subcategoryMeta.data[subIndex].hidden = !hidden;

            // and whole dataset above
            if (!hidden) {
              categoryMeta.data.forEach(function(e){e.hidden = true;});
            } else {
              var hiddenSubs = subcategoryMeta.data.reduce((p, d) => p + (d.hidden ? 1 : 0), 0)
              if (hiddenSubs == 0)
                categoryMeta.data.forEach(function(e){e.hidden = false;});
            }
          }

          this.chart.update();
        }
      }
    }
  });
</script>
<script>
  var assetAllocationChart = new Chart(document.getElementById('assetAllocationChart').getContext('2d'), {
    type: 'line',
    data: {
      labels: [],
      datasets: []
    },
    options: {
      maintainAspectRatio: false,
      responsive: true,
      plugins: {
        colorschemes: {
          scheme: 'tableau.JewelBright9',
          fillAlpha: 1
        }
      },
      hover: {
        mode: 'nearest'
      },
      scales: {
        xAxes: [{
          type: 'time',
          time: {
            unit: 'day',
            displayFormats: {
              day: 'D MMM YY'
            }
          }
        }],
        yAxes: [{
          stacked: true,
          scaleLabel: {
            display: true,
            labelString: 'PLN'
          }
        }]
      }
    }
  });

  function updateHistoricalChart(data){
    assetAllocationChart.data.labels = data.t

    var category;
    for (category in data.categories) {
      assetAllocationChart.data.datasets.push({
        data: data.categories[category].y,
        cubicInterpolationMode: 'monotone',
        pointRadius: 1,
        borderWidth: 2,
        label: category
      });
    }
    assetAllocationChart.update();
  }

  const allAssetIds = [
	{%- for asset in assets -%}
    '{{ asset._id }}',
  {%- endfor -%}
  ];

  $.getJSON("{{ url_for('asset.historicalValue') }}?daysBack=30&id=" + allAssetIds.join('&id='), updateHistoricalChart);
</script>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Open assets</h3>
        </div>
        <div class="card-body">
					<table id="openAssets" class="table table-bordered table-striped table-hover">
						<thead>
							<tr role="row">
								<th>Name</th>
								<th>Institution</th>
								<th>Category</th>
								<th>Market price</th>
								<th>3M in %</th>
								<th>Quantity</th>
								<th>Investment</th>
								<th>Net value</th>
								<th>Holding Return</th>
							</tr>
						</thead>
						<tbody>
							{% for asset in assets %}
							<tr>
								<td>
                  <a href="{{ url_for('asset', id=asset._id) }}">
									  {{ asset.name }}{{ " [" + asset.ticker + "]" if asset.ticker else "" }}
                  </a>
                  {%- if misc and misc.showData -%}
                  <a href="#" class="imagelink">
                    <i class="fas fa-fw fa-bug fa-pull-right"></i>
                  </a>
                  {%- endif -%}
                  <a href="{{ url_for('asset.receipt', id=asset._id) }}" class="imagelink" title="Register buy or sell">
                    <i class="fas fa-shopping-cart fa-fw fa-pull-right"></i>
                  </a>
								</td>
                <td>{{ asset.institution }}</td>
                <td data-order="{{ asset.category }}{{ (" " + asset.subcategory) if asset.subcategory else ""}}">
                  {{- asset.category -}}
                  {%- if asset.subcategory -%}
                  <br/>
                  <span class="smaller">{{ asset.subcategory }}</span>
                  {%- endif -%}
                </td>
                <td class="text-right" data-order="{{ asset.lastQuote.quote if asset.lastQuote else 0 }}">
								{%- if asset.lastQuote -%}
                {{ asset.lastQuote.quote }}&nbsp;{{ asset.currency }}
								{%- endif -%}
								</td>
                <td class="text-right color-gain">
                {%- if asset.quote3mAgo -%}
                  {{ ((asset.lastQuote.quote - asset.quote3mAgo.quote) / asset.quote3mAgo.quote * 100) | round(2) if asset.lastQuote else 0 }}%
                {%- endif -%}
                </td>
								<td>{{ asset.finalQuantity }}</td>
                <td class="text-right" data-order="{{ asset._stillInvestedNetValue }}">{{ asset._stillInvestedNetValue | round(2) }}&nbsp;PLN</td>
                <td class="text-right" data-order="{{ asset._netValue }}">{{ asset._netValue | round(2) }}&nbsp;PLN</td>
                <td class="text-right color-gain">{{ ((asset._netValue - asset._stillInvestedNetValue) / asset._stillInvestedNetValue * 100) | round(2) }}%</td>
							</tr>
							{% endfor %}
						</tbody>
						<tfoot>
              <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>{{ assets | sum(attribute='_stillInvestedNetValue') | round(2) }}&nbsp;PLN</th>
                <th>{{ assets | sum(attribute='_netValue') | round(2) }}&nbsp;PLN</th>
                <th>{{ ((assets | sum(attribute='_netValue') - (assets | sum(attribute='_stillInvestedNetValue'))) / (assets | sum(attribute='_stillInvestedNetValue')) * 100) | round(2) }}%</th>
              </tr>
            </tfoot>
					</table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Category allocation</h3>
        </div>
        <div class="card-body">
          <canvas id="allocationChart" style="min-height: 500px; height: 500px; max-height: 500px; max-width: 100%;"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Asset allocation</h3>
        </div>
        <div class="card-body">
          <canvas id="assetAllocationChart" style="min-height: 500px; height: 500px; max-height: 500px; max-width: 100%;"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
