{% extends 'base.html' %}

{% block title %}Wallet{% endblock %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}">
{% endblock %}

{% block plugins_scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/chart.js/Chart.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/chart.js-plugin-labels/chartjs-plugin-labels.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/chart.js-plugin-colorschemes/chartjs-plugin-colorschemes.min.js') }}"></script>
{% endblock %}

{% block user_scripts %}
<script>
  $('.color-gain').each(function () {
    if ($(this).text().startsWith('-')) {
      $(this).addClass('color-gain-negative')
    } else {
      $(this).addClass('color-gain-positive')
    }
  });
</script>
<script>
  $(function () {
    $('#openAssets').DataTable({
      "paging": false,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": false,
      "autoWidth": false,
      "responsive": true,
      "columnDefs": [
        { "type": "string", "targets": [0, 1, 2, 3] },
        { "type": "num-fmt", "targets": [4, 5, 6, 7, 8] },
        { "orderable": false, "targets": [5] },
      ],
    });
  });
</script>

{% block javascript %}
<script>
  function allocationChart(data, target) {
    return new Chart(target.getContext('2d'), {
      type: 'doughnut',
      data: {
        labels: Object.keys(data),
        datasets: [{
          data: Object.values(data),
          borderWidth: 1
        }]
      },
      options: {
        maintainAspectRatio: false,
        responsive: true,
        plugins: {
          colorschemes: {
            scheme: 'tableau.Classic10'
          },
          labels: {
            render: 'percentage',
            fontColor: 'black',
            fontSize: 16,
            precision: 1
          }
        },
        tooltips: {
          callbacks: {
            label: function(tooltipItem, data) {
              var dataset = data.datasets[tooltipItem.datasetIndex];
              var total = dataset.data.reduce(function(previousValue, currentValue, currentIndex, array) {
                        return previousValue + currentValue;
                      });
              var currentValue = dataset.data[tooltipItem.index];
              var percentage = Number((currentValue/total*100).toFixed(1));
              return data.labels[tooltipItem.index] + ': ' + Number(currentValue.toFixed(2)) + ' PLN [' + percentage + "%]";
            }
          }
        }
      }
    });
  };

  var categoryChart = allocationChart(JSON.parse({{ allocation | tojson }}), document.getElementById('allocationChart'));
  var subcategoryChart = allocationChart(JSON.parse({{ suballocation | tojson }}), document.getElementById('allocationChartSubcategory'));
</script>
{% endblock %}
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Open assets</h3>
        </div>
        <div class="card-body">
					<table id="openAssets" class="table table-bordered table-striped table-hover">
						<thead>
							<tr role="row">
								<th>Name</th>
								<th>Institution</th>
								<th>Category</th>
								<th>Market price</th>
								<th>3M in %</th>
								<th>Quantity</th>
								<th>Investment</th>
								<th>Net value</th>
								<th>Holding Return</th>
							</tr>
						</thead>
						<tbody>
							{% for asset in assets %}
							<tr>
								<td>
									{{ asset.name }}{{ " [" + asset.ticker + "]" if asset.ticker else "" }}
                  {%- if misc and misc.showData -%}
                  <a href="#" class="imagelink">
                    <i class="fas fa-fw fa-bug fa-pull-right"></i>
                  </a>
                  {%- endif -%}
									{%- if asset.link -%}
									<a href="{{asset.link}}" target="_blank" rel="noopener noreferrer" class="imagelink" title="External asset site">
										<i class="fas fa-chart-line fa-fw fa-pull-right"></i>
									</a>
									{%- else -%}
									<i class="fas fa-fw fa-pull-right"></i>
									{%- endif -%}
								</td>
                <td>{{ asset.institution }}</td>
                <td data-order="{{ asset.category }}{{ (" " + asset.subcategory) if asset.subcategory else ""}}">
                  {{- asset.category -}}
                  {%- if asset.subcategory -%}
                  <br/>
                  <span class="smaller">{{ asset.subcategory }}</span>
                  {%- endif -%}
                </td>
                <td class="text-right" data-order="{{ asset.lastQuote.quote if asset.lastQuote else 0 }}">
								{%- if asset.lastQuote -%}
                {{ asset.lastQuote.quote }}&nbsp;{{ asset.currency }}
								{%- endif -%}
								</td>
                <td class="text-right color-gain">
                {%- if asset.quote3mAgo -%}
                  {{ ((asset.lastQuote.quote - asset.quote3mAgo.quote) / asset.quote3mAgo.quote * 100) | round(2) if asset.lastQuote else 0 }}%
                {%- endif -%}
                </td>
								<td>{{ asset.finalQuantity }}</td>
                <td class="text-right" data-order="{{ asset._stillInvestedNetValue }}">{{ asset._stillInvestedNetValue | round(2) }}&nbsp;PLN</td>
                <td class="text-right" data-order="{{ asset._netValue }}">{{ asset._netValue | round(2) }}&nbsp;PLN</td>
                <td class="text-right color-gain">{{ ((asset._netValue - asset._stillInvestedNetValue) / asset._stillInvestedNetValue * 100) | round(2) }}%</td>
							</tr>
							{% endfor %}
						</tbody>
						<tfoot>
              <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>{{ assets | sum(attribute='_stillInvestedNetValue') | round(2) }}&nbsp;PLN</th>
                <th>{{ assets | sum(attribute='_netValue') | round(2) }}&nbsp;PLN</th>
                <th>{{ ((assets | sum(attribute='_netValue') - (assets | sum(attribute='_stillInvestedNetValue'))) / (assets | sum(attribute='_stillInvestedNetValue')) * 100) | round(2) }}%</th>
              </tr>
            </tfoot>
					</table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Category allocation</h3>
        </div>
        <div class="card-body">
          <canvas id="allocationChart" style="min-height: 400px; height: 400px; max-height: 400px; max-width: 100%;"></canvas>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Subcategory allocation</h3>
        </div>
        <div class="card-body">
          <canvas id="allocationChartSubcategory" style="min-height: 400px; height: 400px; max-height: 400px; max-width: 100%;"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
