<html>
  <head>
    <title>Add receipt for {{ asset.name }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='form.css') }}"/>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.5.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.validate.methods.js') }}"></script>
    <script type="text/javascript">
function formatDate(d) {
  return d.getFullYear() + "-" + ("0"+(d.getMonth()+1)).slice(-2) + "-" + ("0" + d.getDate()).slice(-2) + " " +
    ("0" + d.getHours()).slice(-2) + ":" + ("0" + d.getMinutes()).slice(-2) + ":" + ("0" + d.getSeconds()).slice(-2);
}
    </script>
    <script type="text/javascript">
$(document).ready(function(){
  $("#f-date").val(formatDate(new Date()))
})
    </script>
    <script type="text/javascript">
$(document).ready(function(){
  function updateQuantity() {
    var quantity = $("#f-quantity")
    if (quantity.valid())
      var type = $("#f-type").val()
      var multiplier = 1
      if (type == "SELL")
        multiplier = -1
      $("#f-quantity-after").val(parseFloat(quantity.val())*multiplier + {{ asset.finalQuantity if asset.finalQuantity else 0 }})
  }

  $("#f-quantity").on('input', updateQuantity)
  $("#f-type").change(updateQuantity)
  $("#f-type").change(function(){
    $("#f-quan-all").attr('disabled', $(this).val() != "SELL")
  })

  function updateCost() {
    var provision = $("#f-provision")
    var price = $("#f-price")
    var conversion = $("#f-conversion")
    if (price.valid() && provision.valid() && (!conversion.length || conversion.valid()))
      var cost = (provision.val() != "" ? parseFloat(provision.val()) : 0) + (conversion.length ? parseFloat(conversion.val()) : 1.0) * parseFloat(price.val())
      $("#f-cost").val(Number(cost.toFixed(2)))
  }

  $("#f-provision").on('input', updateCost)
  $("#f-conversion").on('input', updateCost)
  $("#f-price").on('input', updateCost)

  $("#f-quan-all").click(function(){
    $("#f-quantity").val({{ asset.finalQuantity }})
    updateQuantity();
  })
})
    </script>
    <script type="text/javascript">
$.validator.setDefaults({
  submitHandler: function() {
    $("#f-quantity-after").removeAttr('disabled');
    $("#f-date").val(formatDate(new Date($("#f-date").val())))
    $.post('/asset/receipt?id={{ asset._id }}', $('form').serialize(), function(data) {
      $(location).attr("href", "/assets");
    })
  }
});
    </script>
  </head>
  <body>
    <div class="section">
      <p>Name: {{ asset.name }}</p>
      {% if asset.ticker -%}
      <p>Ticker: {{ asset.ticker }}</p>
      {%- endif %}
      <p>Institution: {{ asset.institution }}</p>
      <p>Currency: {{ asset.currency }}</p>
      <p>Current quantity: {{ asset.finalQuantity if asset.finalQuantity else 0 }}</p>
      {% if asset.lastQuote -%}
      <p>Current quote: {{ asset.lastQuote.quote }} {{ asset.currency }}</p>
      {%- endif %}
    </div>
    <div class="section">
      <div style="max-width: 400px">
        <form method="post" action="">
          <input type="hidden" name="_id" value="{{ asset._id }}"/>
          <table>
            <tbody>
              <tr>
                <td style="width: 30%">
                  <label for="f-type">Type: </label>
                  <select id="f-type" name="type" required>
                    <option value="" hidden disabled selected value></option>
                    <option value="BUY">BUY</option>
                    <option value="SELL">SELL</option>
                  </select>
                </td>
                <td style="width: 70%">
                  <label for="f-date">Transaction time: </label>
                  <input type="text" id="f-date" name="date" required/>
                </td>
              </tr>
            </tbody>
          </table>
          <span class="break"></span>

          <table>
            <tbody>
              <tr>
                <td style="width: 5%">
                  <input type="button" id="f-quan-all" value="All" disabled="disabled" />
                </td>
                <td style="width: 45%">
                  <label for="f-quantity">Quantity: </label>
                  <input type="number" id="f-quantity" name="quantity" value="0" step="any" data-lpignore="true" required/>
                </td>
                <td style="width: 40%">
                  <label for="f-quantity-after">Quantity after operation: </label>
                  <input type="number" id="f-quantity-after" name="finalQuantity" disabled="disabled" value="{{ asset.finalQuantity }}"data-lpignore="true"/>
                </td>
              </tr>
            </tbody>
          </table>
          <span class="break"></span>

          <table>
            <tbody>
              <tr>
                <td style="width: 50%">
                  <label for="f-price">Transaction value: </label>
                  <div class="input-icon input-icon-right">
                    <input type="number" value="0" step="any" data-number-to-fixed="2" data-number-stepfactor="100" class="currency" id="f-price" name="price" required/>
                    <i>{{ asset.currency }}</i>
                  </div>
                </td>
                {% if asset.currency != 'PLN' -%}
                <td style="width: 50%">
                  <label for="f-conversion">Currency rate {{ asset.currency }}/PLN: </label>
                  <input type="number" value="0" step="any" id="f-conversion" name="currencyConversion" value="1" required/>
                </td>
                {%- endif %}
              </tr>
            </tbody>
          </table>
          <span class="break"></span>

          <table>
            <tbody>
              <tr>
                <td style="width: 50%">
                  <label for="f-provision">Provision: </label>
                  <div class="input-icon input-icon-right">
                    <input type="number" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class=" currency" id="f-provision" name="provision" />
                    <i>PLN</i>
                  </div>
                </td>
                <td style="width: 50%">
                  <label for="f-cost">Total cost: </label>
                  <div class="input-icon input-icon-right">
                    <input type="number" class=" currency" id="f-cost" name="cost" disabled="disabled" value="0" />
                    <i>PLN</i>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <span class="break"></span>

          <input type="submit" value="Submit"/>
        </form>
        <script>
$("form").validate({
	rules: {
    date: {
      isDate: true
    },
    currencyConversion: {
      greaterThan: 0
    },
    price: {
      greaterThan: 0
    },
    quantity: {
      greaterThan: 0
    }
	}
});
        </script>
      </div>
    </div>
    </script>
  </body>
</html>
