{% extends 'base.html' %}

{% block title %}Import '{{ quote.name }}'{% endblock %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css') }}">
{% endblock %}

{% block plugins_scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='plugins/moment/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/chart.js/Chart.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/bs-custom-file-input/bs-custom-file-input.min.js') }}"></script>
{% endblock %}

{% block user_scripts %}
<script type="text/javascript">
  $(function () {
    bsCustomFileInput.init();
  });
</script>
<script type="text/javascript">
$(function () {
  $('.f-date-group').datetimepicker({
    locale: 'pl',
    format: 'YYYY-MM-DD',
  });
})
</script>
<script type="text/javascript">
  const existingQuotes = {{ quote.quoteHistory | tojson }}
    .map(function(e){ return {timestamp: Date.parse(e.timestamp), quote: e.quote}; });

  var chart = new Chart(document.getElementById('chart').getContext('2d'), {
    type: 'line',
    data: {
      datasets: [{
        label: '{{ quote.name }}',
        cubicInterpolationMode: 'monotone',
        pointRadius: 2,
        data: existingQuotes.map(function(e){ return {t: e.timestamp, y: e.quote}; }),
        backgroundColor: 'rgba(0, 123, 255, 0.65)',
        borderColor: 'rgba(0, 123, 255, 1)',
        borderWidth: 2,
        order: 2
      }, {
        label: 'Imported data',
        cubicInterpolationMode: 'monotone',
        pointRadius: 2,
        data: [],
        fill: false,
        borderColor: 'rgba(255, 123, 0, 1)',
        borderWidth: 2,
        order: 1
      }]
    },
    options: {
      maintainAspectRatio: false,
      responsive: true,
      animation: { duration: 0 },
      scales: {
        xAxes: [{
          type: 'time',
          time: {
            unit: 'day',
            displayFormats: {
              day: 'D MMM YY'
            }
          }
        }],
        yAxes: [{
          scaleLabel: {
            display: true,
            labelString: '{{ quote.unit }}'
          }
        }],
      }
    }
  });
</script>
<script type="text/javascript">
let importedQuotes = [];

function updateUI() {
  let method = $('#f-method').val();
  let filteredQuotes = existingQuotes;
  if (method == 'replace' && importedQuotes.length > 0) {
    filteredQuotes = filteredQuotes.filter(function(q) {
      return q.timestamp < importedQuotes.at(0).timestamp || q.timestamp > importedQuotes.at(-1).timestamp;
    });
  }

  let combinedData = filteredQuotes.concat(importedQuotes).sort((lhs, rhs) => { return lhs.timestamp - rhs.timestamp; });

  chart.data.datasets[0].data = combinedData.map(function(e){ return {t: e.timestamp, y: e.quote}; });
  chart.data.datasets[1].data = importedQuotes.map(function(e){ return {t: e.timestamp, y: e.quote}; });
  chart.update();

  $("#f-submit").attr('disabled', importedQuotes.length == 0);
}

function resetUI() {
  importedQuotes = [];
  updateUI();
}

function loadCsvQuotes(event) {
  const file = $("#f-source-file")[0].files[0];

  async function fetchCsv(file) {
    let formData = new FormData();
    formData.append("file", file);

    const ctrl = new AbortController()
    setTimeout(() => ctrl.abort(), 5000);

    try {
      let response = await fetch("{{ url_for('quotes.csvUpload') }}", {method: "POST", body: formData, signal: ctrl.signal});
      if (!response.ok) {
        throw new Error("Invalid response " + r.status());
      }
      return response.json();
    } catch(e) {
      // TODO: maybe display a popup with the error
    }
  }

  fetchCsv(file).then(function(quotes){
    importedQuotes = quotes.map(function(e){ return {timestamp: Date.parse(e.timestamp), quote: e.quote}; });
    updateUI();
  });
}
</script>
<script type="text/javascript">
$('#f-method').change(updateUI);
$('#f-source-file').change(resetUI);
$('#f-source').change(resetUI);
</script>
<script type="text/javascript">
function submitImport(event) {
    event.preventDefault();

    let payload = {
      id: '{{ quote._id }}',
      method: $('#f-method').val(),
      data: JSON.stringify(importedQuotes)
    };

    $.post("{{ url_for('quotes.importQuotes') }}", payload, function(data) {
      $(location).attr("href", "{{ url_for('pricing.index', id='{{ quote._id }}') }}");
    })
}
</script>
{% endblock %}

{% block content %}
<div class="container-sm">
  <div class="row">
    <div class="col-12">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">{{ quote.name }}</h3>
        </div>
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-3">Name</dt>
            <dd class="col-sm-9">{{ quote.name }}</dd>
            {% if quote.url -%}
            <dt class="col-sm-3">Link</dt>
            <dd class="col-sm-9"><a href="{{ quote.url }}" target="_blank" rel="noopener noreferrer">{{ quote.url }}</a></dd>
            {%- endif %}
          </dl>
          <form method="post" action="" id="f-form">
            <!--
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="f-date-from">From</label>
                  <div class="input-group date f-date-group" id="f-date-from-group" data-target-input="nearest">
                    <input type="text" id="f-date-from" name="date-from" class="form-control datetimepicker-input" data-target="#f-date-from-group" required/>
                    <div class="input-group-append" data-target="#f-date-from-group" data-toggle="datetimepicker">
                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="f-date-to">To</label>
                  <div class="input-group date f-date-group" id="f-date-to-group" data-target-input="nearest">
                    <input type="text" id="f-date-to" name="date-to" class="form-control datetimepicker-input" data-target="#f-date-to-group" required/>
                    <div class="input-group-append" data-target="#f-date-to-group" data-toggle="datetimepicker">
                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            -->
            <div class="row">
              <div class="form-group col-sm-4">
                <label for="f-source">Source</label>
                <select id="f-source" name="source" class="custom-select" required>
                  {% if quote.stooqSymbol -%}
                  <option value="stooq" disabled>Online from stooq</option>
                  {%- endif %}
                  <option value="csv" selected>From CSV file</option>
                </select>
              </div>
              <div class="form-group col-sm-8">
                <label for="source-file-div">File</label>
                <div class="input-group">
                  <div class="custom-file" id="source-file-div">
                    <input class="custom-file-input" type="file" id="f-source-file">
                    <label for="f-source-file" class="custom-file-label"></label>
                  </div>
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button" id="f-load-button" onclick="loadCsvQuotes(event);">Load</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-4">
                <label for="f-method">Method</label>
                <select id="f-method" name="method" class="custom-select" required>
                  <option value="replace">Replace</option>
                  <option value="merge" selected>Merge</option>
                  <option value="fill-missing" disabled>Fill missing</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <button class="btn btn-success" type="submit" id="f-submit" disabled="disabled" onclick="submitImport(event)">Save</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-sm">
  <div class="row">
    <div class="col-12">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Graph</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <canvas id="chart" style="min-height: 400px; height: 400px; max-height: 400px; max-width: 100%;"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
