{% extends 'base.html' %}

{% block title %}{{ item.name }}{% endblock %}

{% block links %}
{% endblock %}

{% block plugins_scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.2/dist/chart.min.js" integrity="sha256-D2tkh/3EROq+XuDEmgxOLW1oNxf0rLNlOwsPIUX+co4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@1.0.0/dist/chartjs-adapter-moment.min.js" integrity="sha256-sFB24K2xU2EOgWAtb3ySAGjhMqcUvUJGmwjDcTQa04k=" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static', filename='chartjs.defaults.js') }}"></script>
{% endblock %}

{% block user_scripts %}
<script type="text/javascript">
  function onTrash() {
    $.post('{{ url_for('pricing.trash', quoteId=item._id) }}', success=function(data){
      location.href='{{ url_for('pricing.index') }}'
    })
  }
</script>

{% if item.quoteHistory %}
<script type="text/javascript">
  const data = {{ item.quoteHistory | tojson }};
  let chart = new Chart($('#chart'), {
    type: 'line',
    data: {
      datasets: [{
        label: '{{ item.name | safe }}',
        data: data,
        cubicInterpolationMode: 'monotone',
        pointRadius: 1,
        fill: true,
        backgroundColor: 'rgba(0, 123, 255, 0.65)',
        borderColor: 'rgba(0, 123, 255, 1)',
        borderWidth: 2
      }]
    },
    options: {
      parsing: {
        xAxisKey: 'timestamp',
        yAxisKey: 'quote'
      },
      scales: {
        x: {
          type: 'time',
          time: { unit: 'day', displayFormats: { day: 'D MMM YY' } }
        },
        y: {
          title: {
            display: true,
            text: '{{ item.unit }}'
          }
        },
      }
    }
  });
</script>
{% endif %}
{% endblock %}

{% block content %}
<div class="container-sm">
  <div class="row">
    <div class="col-9">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Info</h3>
        </div>
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-3">Name</dt>
            <dd class="col-sm-9">{{ item.name }}</dd>
            <dt class="col-sm-3">Status</dt>
            <dd class="col-sm-9">{{ 'Trashed' if item.trashed else ('Active' if item.active else 'Inactive') }}</dd>
            <dt class="col-sm-3">Unit</dt>
            <dd class="col-sm-9">{{ item.unit }}</dd>
            {%- if item.currencyPair %}
            <dt class="col-sm-3">Currency pair</dt>
            <dd class="col-sm-9">
              <span class="badge badge-info ml-1" title="Currency pair">
                {{ item.currencyPair.to}}/{{ item.currencyPair.from }}
              </span>
            </dd>
            {%- endif %}
            <dt class="col-sm-3">Link</dt>
            <dd class="col-sm-9"><a href="{{ item.url }}" target="_blank" rel="noopener noreferrer">{{ item.url }}</a></dd>
            <dt class="col-sm-3">Update frequency</dt>
            <dd class="col-sm-9">{{ item.updateFrequency }}</dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card card-secondary">
        <div class="card-header">
          <h3 class="card-title">Actions</h3>
        </div>
        <div class="card-body">
          <button class="btn btn-outline-secondary btn-block" type="button" onclick="location.href=''">
            <i class="fas fa-edit"></i> Edit
          </button>

          <button class="btn btn-outline-secondary btn-block" type="button" onclick="location.href='{{ url_for('quotes.importQuotes', id=item._id) }}'">
            <i class="fa fa-upload"></i> Import quotes
          </button>

          {% if not item.trashed and not item.active -%}
          <button class="btn btn-outline-secondary btn-block" type="button" onclick="onTrash()">
            <i class="fa fa-trash"></i> Move to trash
          </button>
          {%- endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% if item.quoteHistory -%}
<div class="container-sm">
  <div class="row">
    <div class="col-12">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Graph</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <canvas id="chart" style="min-height: 400px; height: 400px; max-height: 400px; max-width: 100%;"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
{%- endif %}
{% endblock %}
