{% extends 'base.html' %}

{% block title %}Pricing{% endblock %}

{% block links %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.23/b-2.1.1/b-colvis-2.1.1/r-2.2.9/sl-1.3.4/datatables.min.css"/>
{% endblock %}

{% block plugins_scripts %}
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.23/b-2.1.1/b-colvis-2.1.1/r-2.2.9/sl-1.3.4/datatables.min.js"></script>
{% endblock %}

{% block user_scripts %}
<script type="text/javascript" src="{{ url_for('.static', filename='pricing/list.js') }}"></script>
{% endblock %}

{% block styles %}
<style>
.dataTables_filter {
  display: none;
}
</style>
{% endblock %}

{% block content %}
<div class="container-flex">
  <div class="row">
    <div class="col-12">
      <div class="card card-primary d-flex p-0">
        <div class="card-header">
          <h3 class="card-title">Pricing sources</h3>
          <div class="card-tools">
            <input id="list-filter" class="form-control form-control-sm datatables-filter-custom" type="text" placeholder="Search" data-lpignore="true"/>
            <a href="{{ url_for('pricing.add') }}">
              <button class="btn btn-tool" type="button" title="Add new pricing source"><i class="fas fa-plus-circle"></i></button>
            </a>
            <a href="{{ url_for_self(all='true') }}">
              <button class="btn btn-tool" type="button" title="Show trashed"><i class="fas fa-dumpster"></i></button>
            </a>
            <a id="refresh-all-quotes" data-refresh-all-url="{{ url_for('quotes.index') }}">
              <button class="btn btn-tool" type="button" title="Refresh all quotes from live sources"><i class="fas fa-sync-alt"></i></button>
            </a>
          </div>
        </div>
        <div class="card-body">
					<table id="pricingTable" class="table table-bordered table-striped table-hover">
            <thead role="row">
              <tr>
                <th>Name</th>
                <th>Unit</th>
                <th>Last quote</th>
                <th>Last update</th>
              </tr>
            </thead>
            <tbody>
              {% for source in sources %}
              <tr {{ ('class="text-muted"' if source.trashed or not source.active else '') | safe }}>
                <td data-title="Name" data-order="{{ source.name }}">
                  {%- if source.trashed %}
                  <del>
                  {%- endif %}
                  <a href="{{ url_for('pricing.index', quoteId=source._id) }}" >
                    {{ source.name }}
                  </a>
                  {%- if source.trashed %}
                  </del>
                  {%- endif %}
                  {%- if source.currencyPair %}
                  <span class="badge badge-info ml-1" title="Currency pair">
                    {{ source.currencyPair.to}}/{{ source.currencyPair.from }}
                  </span>
                  {%- endif %}
                  {%- if not source.active and not source.trashed %}
                  <span class="badge badge-secondary ml-1" title="Unused">
                    unused
                  </span>
                  {%- endif %}
                  <a href="{{source.url}}" target="_blank" rel="noopener noreferrer" class="imagelink" title="Source feed">
                    <i class="fas fa-external-link-alt fa-fw fa-pull-right"></i>
                  </a>
                  <a class="refresh-quote-link imagelink" data-refresh-quote-url="{{ url_for('quotes.index', id=source._id) }}" title="Refresh quote from live source">
                    <i class="fas fa-sync-alt fa-fw fa-pull-right"></i>
                  </a>
                </td>
                <td data-title="Unit">{{ source.unit }}</td>
                <td data-title="Last quote">
                  {%- if source.lastQuote %}
                  {{ source.lastQuote.quote }} {{ source.unit }}
                  {%- endif %}
                </td>
                <td data-title="Last update">
                  {%- if source.lastQuote %}
                  {{ source.lastQuote.timestamp }}
                  {%- endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
					</table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
