form table {
  font-size: 1em;
  width: 100%;
}

form td {
  vertical-align: bottom;
}

label {
  display: block;
  font-weight: normal;
  margin-bottom: 0.5em;
}

input,
select {
	display: inline-block;
	font-size: 1em;
	width: 100%;
  padding: 0.25em 0.5em;
}

form .break {
	margin-bottom: 0.75em;
	display: block;
}

[type="checkbox"],
[type="radio"] {
	margin-bottom: 0.5em;
	width: auto;
}

.button {
	background-color: #0088cc;
	border: 1px solid #0088cc;
	border-radius: 1px;
	color: #ffffff;
	display: inline-block;
	font-size: 0.9375em;
	font-weight: normal;
	line-height: 1.2;
	margin-right: 0.3125em;
	margin-bottom: 0.3125em;
	padding: 0.5em 0.6875em;
	width: auto;
}

.button:active,
.button:focus,
.button:hover {
	background-color: #005580;
	border-color: #005580;
	color: #ffffff;
	text-decoration: none;
}

.button:active {
	box-shadow: inset 0 0.15625em 0.25em rgba(0, 0, 0, 0.15), 0 1px 0.15625em rgba(0, 0, 0, 0.05);
}

.input-icon {
  position: relative;
}

.input-icon > i {
  position: absolute;
  display: block;
  transform: translate(0, -50%);
  top: 50%;
  pointer-events: none;
  padding: 0.75em;
  text-align: center;
  font-style: normal;
}

.input-icon-right > i {
  right: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

label.error {
	color: red;
}

.error-message {
	color: red;
	font-style: italic;
	margin-bottom: 1em;
}
