a.imagelink {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* FontAwesome fix */
.fa-fw {
  height: 1em;
}

/* colvis fix for button in the card header */
.dt-button-collection .dropdown-menu a {
  color: #212529 !important;
}
.dt-button-collection .dropdown-menu a.active {
  color: #fff !important;
}

.datatables-filter-custom {
  display: inline !important;
  width: auto !important;
  height: 1.45rem !important;
  margin-right: 0.5rem !important;
}

img.link {
  vertical-align: middle;
}

.color-gain-positive {
  color: green;
}

.color-gain-negative {
  color: red;
}

.ui-tooltip {
  white-space: pre-line;
}

.smaller {
  font-size: smaller;
}
