a.imagelink {
  text-decoration: none;
  color: inherit;
}

/* FontAwesome fix */
.fa-fw {
  height: 1em;
}

img.link {
  vertical-align: middle;
}

.color-gain-positive {
  color: green;
}

.color-gain-negative {
  color: red;
}

tr.warning-row {
  background-color: rgba(255,193,7,.9) !important;
}
